body{
    background: #000 url(cosmos-1853491_1280.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    cursor: none;
    .wrapper{
        width: 600px;
        margin: 0 auto;
        

        .valueExpl{
            p{
                color:#fff;
            }
        }
    }
}

