footer{
    .bg-footer{
        background-color: #e3e3e3;

        .wrapper-footer{
            padding: 10px;

            p{
                padding: 15px;
                color:#474343;
                font-weight: 400;
            }
        }
    }
}

