

@media (max-width: 768px) { 
    .wrapper-header{
        &__list{
            display: none;
        }
    
        &__button{
            .menu-btn{
                display: block;
                margin-right: 10px;
            }
            
        }

        &__list-active{
            display: block;
        }
    }

    .portlet{
        margin-top: 20px;
    }

    
}