.bgMenu {
  height: 70px;
  background-color: #ff6402;
  margin-top: 10px;

  .wrapper-menu {
    display: flex;
    div{
      z-index:2;
    }
    .menuProducts {
      .listPhones {
        display: none;
        a {
          width: 150px;
          height: 15px;
          text-align: center;
          padding: 10px 0;
          font: 18px;
          color: #4c4c4c;

        }
      }

      &:hover{
          background-color: #e3e3e3;
          p {
            color: #4d4d4d;
            text-decoration: underline;
          }
        .listPhones {
          display: block;

          a {
            display: inline-block;
            font: 14px 'FiraSans-Medium', sans-serif;
            text-decoration: none;

          }

          ul {
            li {
              &:hover {
                border-top: 1px solid #acacac;
                border-bottom: 1px solid #acacac;
                background-color: #e3e3e3;

              }
            }
          }
        }
      }

      ul{
        background-color: #e3e3e3;
      }

      a {
        display: flex;
        align-items: center;
        width: 130px;
        height: 70px;
        padding: 5px 0 5px 15px;

        p {
          margin: 5px 5px;
          color: #fff;
          font: 16px 'FiraSans-Medium', sans-serif;
        }


      }


      .iPhone {
        a {
          img {
            width: 28px;
            height: 48px;
          }
        }


        &:hover {
          background-color: #e3e3e3;
        }
      }

      .iPade {
        a {
          img {
            width: 36px;
            height: 48px;
          }
        }
      }

      .Mac {
        a {
          img {
            width: 55px;
            height: 48px;
          }
        }
      }

      .Smartphone {
        a {
          img {
            width: 30px;
            height: 48px;
          }
        }
      }

      .Tablets {
        a {
          img {
            width: 55px;
            height: 48px;
          }
        }
      }

      .Computer {
        width: 145px;
        a {
          width: 150px;

          img {
            width: 45px;
            height: 38px;
          }
        }
      }
    }
  }
}

.bgMenuResponsive{
  display: none;
}

@media (max-width: 768px) {

  .bgMenuResponsive{
    display: block;
    background-color: #ff6402;
    height: 0;
    margin-top: 10px;
    transition: 0.2s;
    position: absolute;

    nav{
      border-bottom:1px solid #fff;
      transition: 1s;
      ul{
        display:flex;
        flex-direction: column;

        li{
          text-align: center;
          margin: 25px 0;

          &:first-child{
            margin-top:5px;
          }

          &:last-child{
            margin-bottom: 5px;
          }

          a{
            color:#fff;
          }
        }
      }
    }
  }

}
