.content{
    .offersSections{
        margin-bottom: 30px;
        .offersText{
            h1{
                font:40px 'FiraSans-Bold',sans-serif;
                text-align: center;
                padding-top: 100px;
            }
    
            ul{
                margin-top: 40px;
            }
    
            .offersGifs{
                li{
                    display:flex;
                    img{
                        padding: 10px 0 10px 0;
                    }
                    p{
                        font: 20px 'FiraSans-Bold', sans-serif;
                        color:#4c4c4c;
                        padding: 10px 0 0 10px;
                    }
                }
            }
    
        }
        .backPhone{
            position: relative;
            z-index: -1;
            top: -70px;
            background: url('/img/backImage.png') no-repeat;
            width: 1580px;
            height: 845px;
        }
    }



    //--------------- Descriptions section--------------
    .bgDescription{
        background-color: #f5f5f5;
        padding: 50px 0 50px 0;

        ul{
            margin-top: 30px;
            
            li{
                display: flex;
                align-items: center;

                .appleGif{
                    padding-left: 15px;
                }

                p{
                    padding-left: 15px;
                }
            }
        }
    }
    
}

@media(max-width: 769px){
    .content{
        .backPhone{
            display: none;
        }
    

    .bgDescription{
        .imacImg{
            display: none;
        }

        h2{
            padding: 0 15px 0 15px;
            text-align: center;
        }

        ul{
            padding: 0 15px 0 15px;
        }
    }
    }

}


  