@charset "UTF-8";
@media (max-width: 768px) {
  .wrapper-header__list {
    display: none;
  }
  .wrapper-header__button .menu-btn {
    display: block;
    margin-right: 10px;
  }
  .portlet {
    margin-top: 20px;
  }
}

.bg-header {
  background-color: #0a62c4;
}

.bg-header .wrapper-header {
  padding: 15px 0;
}

.bg-header .wrapper-header__logo {
  display: inline-block;
}

.bg-header .wrapper-header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
}

.bg-header .wrapper-header__logo a img {
  width: 70px;
  height: 70px;
}

.bg-header .wrapper-header__logo a p {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 0 5px;
}

.bg-header .wrapper-header__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.bg-header .wrapper-header__list ul li {
  margin: 0 10px;
}

.bg-header .wrapper-header__list ul li a {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.bg-header .wrapper-header__list ul li a:hover {
  color: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.bg-header .wrapper-header__button {
  position: absolute;
  right: 0;
  top: -50px;
}

main {
  margin: 50px 0;
}

main .main-news {
  -webkit-box-shadow: 0 0 10px rgba(150, 150, 150, 0.5);
          box-shadow: 0 0 10px rgba(150, 150, 150, 0.5);
  padding-bottom: 5px;
  margin-bottom: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .main-news:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .main-news__image img {
  width: 100%;
}

main .main-news__info {
  padding: 10px;
  border-bottom: 1px solid #e3e3e3;
}

main .main-news__info h2 {
  text-align: center;
}

main .main-news__info .open-news {
  font: 14px 'Arial', sans-serif;
  border: 1px solid #007bff;
  border-radius: 4px;
  padding: 4px;
  margin-left: 5px;
  text-decoration: none;
}

main .main-news__info .open-news:hover {
  background-color: #0a62c4;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .main-news__comments {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-news__comments p {
  font-size: 14px;
  margin: 0 5px 0 0;
}

main .main-news__comments img {
  width: 100%;
}

main .main-news__comments .likes {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-news__comments .comments {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .bg-footer {
  background-color: #e3e3e3;
}

footer .bg-footer .wrapper-footer {
  padding: 10px;
}

footer .bg-footer .wrapper-footer p {
  padding: 15px;
  color: #474343;
  font-weight: 400;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #0a62c4;
  color: white;
  text-decoration: none;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  text-decoration: none;
}

.menu-btn {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  margin-top: 65px;
  -webkit-transition: all 1.8s;
  transition: all 1.8s;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  width: 30px;
  margin-left: -15px;
  height: 3px;
  border-radius: 1px;
  background-color: #fff;
}

.menu-btn span::before,
.menu-btn span::after {
  content: '';
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu-btn span::before {
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
}

.menu-btn span::after {
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
}

.menu-btn-active span {
  height: 0;
}

.menu-btn-active span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu-btn-active span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-google {
  color: white;
  background-color: #ea4335;
  text-transform: unset;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-img-left {
  width: 45%;
  background: scroll center url("../../Студенческая конференция/img/bgRegistration.jpg");
  background-size: cover;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.test {
  color: white;
  background-color: #ea4335;
  text-transform: unset;
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

/* Fallback for Edge
  -------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
  -------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

/* Fallback for Edge
  -------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
  -------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

.portlet {
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  padding: 20px;
}

.profile-sidebar-portlet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-sidebar-portlet .profile-userpic img {
  width: 100%;
  margin-top: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-sidebar-portlet .profile-usertitle-name {
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
}

.profile-sidebar-portlet .profile-userbuttons {
  margin-top: 5px;
}

.profile-sidebar-portlet .profile-userbuttons button {
  margin-top: 5px;
}

.caption-md {
  padding-bottom: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  margin: 0;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
/*# sourceMappingURL=style.css.map */