header {
    display: flex !important;
    margin-top: 20px !important;

    .logo-section {
        a {
            display: flex;

            text-decoration: none;
            color: #000;

            img {
                width: 33px;
                height: 33px;
            }

            p {
                font-weight: 800;
                font-size: 32px;
                margin-left: 5px;
            }
        }
    }

    nav {
        .nav-section {
            font-size: 20px;

            .active {
                border-bottom: 2px solid #FF557E;

                a {
                    opacity: 1;
                    color: #FF557E;
                }
            }

            ul {
                display: flex;
                justify-content: space-around;
                align-items: center;

                li {

                    a {
                        text-decoration: none;
                        color: #8B92BA;
                        opacity: 0.8;


                        &:hover {
                            opacity: 1;
                        }
                    }
                }

                .dropdown {
                    .dropdownBtn {
                        font-weight: 600;
                        font-size: 19.5078px;
                        line-height: 33px;
                        color: #8B92BA;
                        opacity: 0.8;
                    }

                    .dropdownMenu {
                        display: none;
                        position: absolute;
                        margin-top: 10px;
                        margin-left: 5px;

                        &-active {
                            display: block;
                        }
                    }



                    button {
                        border: 0;
                        background-color: #fff;
                        color: #8B92BA;
                        opacity: 0.8;

                        &:hover {
                            opacity: 1;
                        }

                        &::after {
                            content: url('../image/Right.jpg');
                        }

                    }
                }
            }
        }
    }
}