.info-work {
    


    &__title {
        padding-top: 180px;

        h2 {
            font-weight: 600;
            font-size: 40.51px;
            line-height: 33px;
            color: #FF557E;
        }

        p {
            margin-top: 40px;
            font-weight: normal;
            font-size: 20px;
            line-height: 33px;
            color: #182642;
        }
    }

    &__icon {
        position: relative;
        margin-top: 75px;
        z-index: 3;

        &-first {
            position: absolute;
            right: -100px;
            top: 100%;
        }

        &-second {
            position: absolute;
            right: -110px;
            top: 33px;
            opacity: 0.5;
        }

    }

    .wrapperBgInfo {
        background-origin: content-box;

        .info-work__image {
            margin-left: 45px;
            background-image: url('../../image/YellowBG.jpg');
            position: absolute;
            width: 1157.71px;
            height: 999.78px;
            background: linear-gradient(180deg, #FFD764 0%, rgba(255, 215, 100, 0) 100%);
            border-radius: 72px 0px 0px 0px;

            

            .event1 {
                width: 547px;
                height: 223px;
                position: absolute;
                top: 15%;
                left: 15%;
                opacity: 0.6;

                background: rgba(255, 255, 255, 0.5);
                border-radius: 14.7717px;
            }

            .event2 {
                width: 547px;
                height: 218px;
                position: absolute;
                top: 23%;
                left: 20%;
                opacity: 0.9;
                background: rgba(255, 255, 255, 0.7);
                border-radius: 14.7717px;
            }

            .event3 {
                width: 547px;
                height: 306px;
                position: absolute;
                top: 30%;
                left: 25%;

                /* 2 */

                background: #FFFFFF;
                box-shadow: 0px 15.006px 33.0131px rgba(0, 0, 0, 0.06);
                border-radius: 14.7717px;
            }
        }
    }

    
}

.union2{
    position: absolute;
    bottom: 0;
    right: -26%;
}

.circle {
    position: absolute;
    width: 408.67px;
    height: 407.36px;
    top: -70%;
    right: -60%;

    background: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
    box-shadow: inset -159.75px 2.66249px 91.856px rgba(0, 0, 0, 0.15);
    border-radius: 298.199px;
}