.main-title {
    margin-top: 50px;

    .mobile-starIcon{
        display: none;
      }

      .mobile-starIcon3{
          display: none;
      }

      .mobile-starIcon4{
        display: none;
    }

    .mobile-starIcon5{
        display: none;
    }

    .deskt-starIcon{
        position: absolute;
        left: -10%;
        top: 23%;
    }

    &__mobile{
        display: none;
    }

    &__counter {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 26%;
    bottom: 200px;
       

        p {
            
            font-weight: bold;
            font-size: 45px;
      

            &:first-child {
                text-align: right;
                margin-right: 45px;
                margin-left: 15px;
            }

            &:nth-child(2) {
                text-align: left;
                margin-left:25px;
            }

            span {
                font-family: 'ProximaNova-Bold';
                font-style: normal;
                font-weight: bold;
                font-size: 25px;
        

            }
        }
    }

    &__img {
        
       img{
        width:500px;
        margin-left: 118px;
       }
        
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 925.15px;
            left: 20%;
            top: 23%;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.93) 67.19%, #FFFFFF 90.1%);
        }


    }

    .btnPlay {
        position: absolute;
        left: 95%;
        top: 27%;
        width: 105.27px;
        height: 105.27px;
        background: #FFFFFF;
        box-shadow: 0px 16.4088px 42.7549px rgba(92, 100, 110, 0.3);
        border-radius: 50%;
        border: 0;
        z-index: 999;
        transition: box-shadow 500ms;

        &:hover {
            box-shadow: 0px 16.4088px 42.7549px rgba(92, 100, 110, 0.7);
        }

    }

    &-textWrapper{
       padding-left: 150px;
       margin-top: 40px;
        .main-title__text {
            h1 {
                font-family: 'ProximaNova';
                font-weight: 600;
                font-size:  44px;
                line-height: 56px;
    
                span {
                    font-weight: normal;
                    font-style: italic;
                }
            }
    
            .text-descr {
                margin-top: 30px;
                margin-left: 20px;
                &__first {
                    ul {
                        li {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 20px;
                            line-height: 33px;
                            list-style-type: disc;
                            padding-left: 22px;
    
     
                        }
                    }
                }
    
                &__second {
                    margin-top: 35px;
    
                    ul {
                        li {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 20px;
                            line-height: 33px;
                            list-style-type: disc;
                            padding-left: 22px;
                        }
                    }
                }
            }
        }
    
    }

    &__button {
        margin-top: 30px;
        margin-left: 15px;

        .download-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 321.17px;
            height: 68.24px;
            border: 0;
            background: linear-gradient(255.9deg, #EF209D 11.78%, #F56A8C 87.58%);
            box-shadow: 0px 13.5286px 36.0762px rgba(240, 43, 162, 0.5);
            border-radius: 72.1524px;
            transition: box-shadow 500ms;

            p {
                color: #fff;
                font-weight: 800;
                font-size: 20px;
            }

            &:hover {

                box-shadow: 0px 13.5286px 36.0762px rgba(240, 43, 162, 0.8);
            }
        }
    }


}