@media (max-width: 575.98px) {
  .iconFly-mobile-wrapper{
    img{
      width: 31px!important;
      height: 31px!important;
    }

    .mobile-icon-second{
      top: 17px!important;
    }
  }

  .mobile-starIcon{
    display: block!important;
    position: absolute;
    left: 50%;
  }

  .mobile-starIcon3{
    display: block!important;
    position: absolute;
    left: 5%;
  }

  .mobile-starIcon4{
    display: block!important;
    position: absolute;
    right: -10%;
  }

  .mobile-starIcon5{
    display: block!important;
    position: absolute;
    left: 90%;
    top: 50%;
  }

  .deskt-starIcon{
    display: none;
  }
  .container-header {
    display: none;
  }

  .container-mobile-header {
    display: block !important;

    .mobile-header-logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .mobile-header__wrapper {
      display: flex;
      margin-top: 25px;

      .mobile-header__burger {
        top: 50%;
        left: 10%;
        width: 18px;
        height: 3px;
        background: #000;
        position: absolute;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
        transition: 0.5s;
        left: 10px;
        border-radius: 70px;


        &::before {
          content: '';
          position: absolute;
          width: 18px;
          height: 3px;
          background: #000;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          transition: 0.5s;
          top: -7px;
          left: -5px;
          border-radius: 70px;
        }

        &::after {
          content: '';
          position: absolute;
          width: 18px;
          height: 3px;
          background: #000;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          transition: 0.5s;
          top: 7px;
          left: 6px;
          border-radius: 70px;
        }
      }

      .mobile-header__text {
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
          p {
            font-weight: bold;
            font-size: 24px;
            line-height: 14px;
            color: #182642;
            font-family: 'ProximaNova-Black';
          }
        }
      }
    }
  }

  .info-work {
    display: none;

    &__icon {
      display: none;
    }
  }

  .main-title {
    .download-btn {
      width: 100%;
    }

    &__text {
      display: flex;
      justify-content: center;

      h1 {
        font-weight: 600;
        font-size: 36px!important;
        line-height: 58px;
        position: absolute;
        top: -87%;
      }


      .main-title__mobile {
        display: block;
        margin-top: 40px;
        position: absolute;
        top: -50%;

        .wrappMob {
          display: flex;

          p {
            font-weight: 600;
            font-size: 38px;
            color: #182642;

            &:first-child {
              margin-right: 25px;
            }

            span {
              color: #182642;
              font-size: 18px;
            }
          }
        }
      }
    }

    &-textWrapper {
      z-index: 99;
      padding-left: 0;

      .download-btn {
        margin-top: 40px;
      }
    }

    .text-descr {
      margin-top: 0;
      ul {
        li {
          list-style-type: none!important;
          color: #182642;
        }
      }

      &__first {
        ul {
          li {
            font-weight: 800;
            color: #182642;
          }
        }
      }
    }

    .wrapper-counter {
      display: none;
    }


    &__img {
      display: flex;
      justify-content: center;
      img{
        width: 300px;
        margin-left: 0;
        
      }
      &::before {
        height: 600px;
        left: 0;
        top: 24%;
      }
    }

    .btnPlay {
      left: 35%;
    }
  }

  .union {
    display: none;
  }

  .message-form {
    display: none;
  }

  .footer {
    display: none;
  }

  .info-work-mobileBg {
    background-image: url('../../image/YellowBG.jpg');
    width: 495.54px;
    // width: 100%;
    height: 478.51px;
    right: 0%;
    left: -100px;
    position: absolute;
    background: linear-gradient(180deg, #FFD764 2.64%, #FFD764 45.74%, rgba(255, 215, 100, 0.42) 100%);
    opacity: 0.8;
    border-radius: 40px;
    transform: rotate(15deg);
  }

  .info-work-mobile {

    display: block !important;

    .wrapperBgInfo {
      position: relative;
      margin-top: 70px;

      .info-work__image {
        img {
          width: 100%;
          position: absolute;
        }

        .event1 {
          width: 300px;
          height: 115px;
          position: absolute;
          top: 0px;
          left: 0;
          opacity: 0.6;
      
          background: rgba(255, 255, 255, 0.5);
          border-radius: 14.7717px;
        }
      
        .event2 {
          width: 300px;
          height: 115px;
          position: absolute;
          top: 35px!important;
          left: 5%;
          opacity: 0.8;
          background: rgba(255, 255, 255, 0.7);
          border-radius: 14.7717px;
        }
      
        .event3 {
          width: 300px;
          height: 155px;
          position: absolute;
          top: 70px!important;
          left: 10%;
          background: #FFFFFF;
          box-shadow: 0px 15.006px 33.0131px rgba(0, 0, 0, 0.06);
          border-radius: 14.7717px;
        }
      
      }
    }

    .info-work__title {
      display: flex;
    align-items: stretch;
    flex-direction: column;
    margin-top: 150px!important;
    
      h2 {
        text-align: left;
        margin-top: 20px;
        font-size: 24px;
      }

      p {
        font-weight: 800;
        margin-top: 20px;
        font-size: 14px;
      }
    }

      p {
        font-size: 18px;
      }
    }


  .iconFly-mobile {
    display: block !important;

    .iconFly-mobile-wrapper {
      display: block;
    
      height: 60px;
      position: relative;

      .mobile-icon-first {
        position: absolute;
        right: 50%;

      }

      .mobile-icon-second {
        position: absolute;
        right: 50%;
        top: 33px;
        opacity: 0.5;
      }
    }
  }

  .message-form-mobile {
    display: block !important;
    margin-top: 20px;

    h2 {
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
      color: #FF557E;
    }

    #messageBtn {
      margin-top: 20px;
      width: 100%;
      height: 44.43px;
      border: 0;
      background: #FFFFFF;
      box-shadow: 0px 5.20391px 26.0195px #E2E7EB;
      border-radius: 8px;
      text-align: center;
    }

    .message-form__text {
      margin-top: 20px;
      padding-left: 0;
    }
  }

  .footer-mobile {
    display: block !important;
    margin-top: 94px;
    margin-bottom: 50px;

    &-wrapper {
      display: flex;
      justify-content: center;

      .left-side {
        margin-right: 50px;

        &__logo {
          img {
            width: 41.17px;
            height: 42.27px;
          }
        }

        &__social-media {

          ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            li {
              margin-top: 10px;
            }
          }
        }
      }

      .right-side {
        &__text {
          font-style: normal;
          font-weight: normal!important;
          font-size: 16px;
          line-height: 18px;
        }

        &__security {
          margin-top: 35px;
          font-style: normal;
          font-weight: 800;
          font-size: 18px;
          line-height: 17px;
          font-family: 'ProximaNova-Bold';
        }
      }

    }

  }
}

@media (min-width: 1200px) and (max-width:2560px){
  .union2{
    position: absolute;
    bottom: 22%!important;
    right: -15%;
  }


  .info-work__image{
      .event1{
        width: 430px!important;
        height: 190px!important;
        left: 10%!important;
  }

  .event2{
    width: 430px!important;
    height: 180px!important;
    left: 13%!important;
    top: 21%!important;
  }

  .event3{
    width: 430px!important;
    height: 240px!important;
    left: 16%!important;
    top: 27%!important;
    }
  }

  .circle{
    right: -45%!important;
  }

  .union{
    position: absolute;
    left: -30%!important;
    bottom:-80%!important;
    
  }
}

@media (min-width: 992px) and (max-width:1200px) {

  .union2{
    position: absolute;
    bottom: 34%!important;
    right: -21%;
  }


  .info-work__image{
      .event1{
        width: 430px!important;
        height: 190px!important;
        left: 4%!important;
  }

  .event2{
    width: 430px!important;
    height: 180px!important;
    left: 6%!important;
    top: 21%!important;
  }

  .event3{
    width: 430px!important;
    height: 240px!important;
    left: 10%!important;
    top: 27%!important;
    }
  }



  .circle{
    right: -45%!important;
  }

  .union{
    position: absolute;
    left: -50%!important;
    bottom:-70%!important;
    
  }

  .main-title {

    &__img{
      &::before{
        left: 3%;
      }
  
      img{
        margin-left: 0;
      }
    }

    &__counter {
      position: static;
      
      margin-bottom: 100px;
    }

  
  }


.circle{
  top: -55%;
    right: -90%;
}
  
}


@media (min-width: 768px) and (max-width:992px){

  .main-title .text-descr__first ul li {
    font-weight: bold !important;
    color: #182642;
}

  .main-title__img{
    &::before{
      top: 40%!important;
    }
  }

  .info-work__title{
    margin-top: 450px!important;
  }

  .event2{
    top: 53px!important;
  }

  .event1{
    top: -35px!important;
  }

  .message-form__text{
    padding-left: 0!important;
  }
}


@media (max-width: 992px) {

  .sendForm{
    margin-left: 0!important;
  }

  .main-title .text-descr__first ul li {
    font-weight: bold !important;
    color: #182642;
}

  .mobile-br{
    display: block;
  }

  .desktop-br{
    display: none;
  }

  .deskt-starIcon{
    display: none;
  }

  .mobile-starIcon{
    display: block!important;
    position: absolute;
    left: 50%;
  }

  .mobile-starIcon3{
    display: block!important;
    position: absolute;
    left: 5%;
  }

  .mobile-starIcon4{
    display: block!important;
    position: absolute;
    right: -10%;
  }

  .mobile-starIcon5{
    display: block!important;
    position: absolute;
    left: 90%;
    top: 50%;
  }
  .container-header {
    display: none;
  }

  .container-mobile-header {
    display: block !important;

    .mobile-header-logo {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .mobile-header__wrapper {
      display: flex;
      margin-top: 25px;

      .mobile-header__burger {
        top: 50%;
        left: 10%;
        width: 18px;
        height: 3px;
        background: #000;
        position: absolute;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
        transition: 0.5s;
        left: 10px;
        border-radius: 70px;
        z-index: 555;


        &::before {
          content: '';
          position: absolute;
          width: 18px;
          height: 3px;
          background: #000;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          transition: 0.5s;
          top: -7px;
          left: -5px;
          border-radius: 70px;
        }

        &::after {
          content: '';
          position: absolute;
          width: 18px;
          height: 3px;
          background: #000;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          transition: 0.5s;
          top: 7px;
          left: 6px;
          border-radius: 70px;
        }
      }

      .mobile-header__text {
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
          p {
            font-weight: bold;
            font-size: 24px;
            line-height: 14px;
            color: #182642;
             font-family: 'ProximaNova-Black';
          }
        }
      }
    }
  }

  .info-work {
    display: none;

    &__icon {
      display: none;
    }
  }

  .main-title {
    .download-btn {
      width: 100%;
    }

    &__img{
      display: flex;
      justify-content: center;
      align-items:center;
      padding-left: 0;
      margin-right: 0;
      
      img{
        margin-left: 0!important;
      }
    }

    &__text {

      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        font-weight: 600;
        font-size: 40px;
        line-height: 62px;
        position: absolute;
        top: -100%;
      }


      .main-title__mobile {
        display: block!important;
        margin-top: 40px;
        position: absolute;
        top: -50%;

        .wrappMob {
          display: flex;

          p {
            font-weight: 600;
            font-size: 38px;
            color: #182642;

            &:first-child {
              margin-right: 25px;
            }

            span {
              color: #182642;
              font-size: 22px;
            }
          }
        }
      }
    }

    &-textWrapper {
      z-index: 99;
      padding-left: 0;

      .download-btn {
        margin-top: 40px;
      }
    }

    .text-descr {
      margin-top: 0;
      ul {
        li {
          list-style-type: none!important;
          color: #182642;
        }
      }

      &__first {
        ul {
          li {
            font-weight: 800;
            color: #182642;
          }
        }
      }
    }

    .wrapper-counter {
      display: none;
    }


    &__img {
      img{
        

        img{
          margin-left: 0!important;
        }
      }
      &::before {
        left: 0;
        top: 18%;
      }
    }

    .btnPlay {
      left: 42%;
    }
  }

  .union {
    display: none;
  }

  .message-form {
    display: none;
  }

  .footer {
    display: none;
  }

  .info-work-mobileBg {
    background-image: url('../../image/YellowBG.jpg');
    width: 1000px;
    
    height: 478.51px;
    right: 0%;
    left: -142px;
    position: absolute;
    background: linear-gradient(180deg, #FFD764 2.64%, #FFD764 45.74%, rgba(255, 215, 100, 0.42) 100%);
    opacity: 0.8;
    border-radius: 40px;
    transform: rotate(15deg);
  }

  .info-work-mobile {

    display: block !important;

    .wrapperBgInfo {
      position: relative;
      margin-top: 70px;

      .info-work__image {
        img {
          width: 100%;
          position: absolute;
        }

        .event1 {
          position: absolute;
          top: 0px;
          left: 0;
          opacity: 0.6;

          background: rgba(255, 255, 255, 0.5);
          border-radius: 14.7717px;
        }

        .event2 {
          position: absolute;
          top: 70px;
          left: 5%;
          opacity: 0.8;
          background: rgba(255, 255, 255, 0.7);
          border-radius: 14.7717px;
        }

        .event3 {
          position: absolute;
          top: 140px;
          left: 10%;
          background: #FFFFFF;
          box-shadow: 0px 15.006px 33.0131px rgba(0, 0, 0, 0.06);
          border-radius: 14.7717px;
        }
      }
    }

    .info-work__title {
      display: flex;
      justify-content: center;
      align-items:start;
      flex-direction: column;
      margin-top: 350px;
      margin-bottom: 40px;
      margin-left: 5px!important;
      h2 {
       margin-top: 40px;
        font-size: 34px;
        
      }

      p {
        font-size: 18px;
      }
    }

  }

  .iconFly-mobile {
    display: block !important;

    .iconFly-mobile-wrapper {
      display: block;
  
      height: 100px;
      position: relative;

      .mobile-icon-first {
        position: absolute;
        right: 50%;

      }

      .mobile-icon-second {
        position: absolute;
        right: 50%;
        top: 33px;
        opacity: 0.5;
      }
    }
  }

  .message-form-mobile {
    display: block !important;
    margin-top: 20px;

    h2 {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: #FF557E;
    }

    #messageBtn {
      margin-top: 20px;
      width: 100%;
      height: 44.43px;
      border: 0;
      background: #FFFFFF;
      box-shadow: 0px 5.20391px 26.0195px #E2E7EB;
      border-radius: 8px;
      text-align: center;
    }

    .message-form__text {
      margin-top: 20px;
    }
  }

  .footer-mobile {
    display: block !important;
    margin-top: 94px;
    margin-bottom: 50px;

    &-wrapper {
      display: flex;
      justify-content: center;

      .left-side {
        margin-right: 50px;

        &__logo {
          img {
            width: 41.17px;
            height: 42.27px;
            margin-bottom: 30px;
          }
        }

        &__social-media {

          ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            li {
              margin-top: 10px;
              margin-bottom: 20px;
              &:last-child{
                margin-bottom: 0;
              }
            }
          }
        }
      }

      .right-side {
        display: flex;
    flex-direction: column;
    justify-content: space-between;
        &__text {
          font-style: normal;
          font-weight: normal;
          font-size: 14px!important;
          line-height: 18px;
          color: #182642;
          padding-left: 10px;

          P{
            font-weight: normal!important;
          }
        }

        &__security {
          padding-left: 10px;
          margin-top: 35px;
          font-style: normal;
          font-weight: normal!important;
          font-size: 18px;
          line-height: 17px;
          font-family: 'ProximaNova-Bold';
          color: #182642;
        }
      }

    }

  }
}

@media (min-width: 425px) and (max-width:575px){

  .mobile-header__text {
   
    .title {
      p {
       
         font-family: 'ProximaNova-Black';
      }
    }
  }

  .btnPlay{
    width: 70px!important;
    height: 70px!important;
    img{
      width: 20px;
      height: 20px;
    }
  }

  .info-work-mobile{
    position: relative;
    .info-work-mobileBg{
      
    }
  }
  .main-title__img{
    &::before{
      height: 900px!important;
      top: 32%!important;
    }
  }

}

@media (min-width: 376px) and (max-width: 425px){

  .main-title .text-descr__first ul li {
    font-weight: bold !important;
    color: #182642;
    
}

.main-title{
  &__text {
    h1 {
      font-weight: 600;
      font-size: 33px!important;
      line-height: 38px;
      position: absolute;
    }


    .main-title__mobile {
      display: block;
      margin-top: 40px;
      position: absolute;

      .wrappMob {
        display: flex;

        p {
          font-weight: 600;
          font-size: 32px!important;
          color: #182642;

          &:first-child {
            margin-right: 25px;
          }

          span {
            color: #182642;
            font-size: 14px;
            font-weight: normal;
          }
        }
      }
    }
  }
}

.text-descr {
  ul {
    li {
      list-style-type: none;
      color: #182642;
      font-size: 19px!important;
    }
  }

}

  .mobile-header__text {
   
    .title {
      p {
       
         font-family: 'ProximaNova-Black';
      }
    }
  }
  
  .btnPlay{
    width: 70px!important;
    height: 70px!important;
    img{
      width: 20px;
      height: 20px;
    }
  }

  .event1 {
    width: 300px;
    height: 125px;
    position: absolute;
    top: 0px;
    left: 0;


    background: rgba(255, 255, 255, 0.5);
    border-radius: 14.7717px;
  }

  .event2 {
    width: 300px;
    height: 125px;
    position: absolute;
    top: 35px;
    left: 5%;

    background: rgba(255, 255, 255, 0.7);
    border-radius: 14.7717px;
  }

  .event3 {
    width: 300px;
    height: 165px;
    position: absolute;
    top: 70px;
    left: 10%;
    background: #FFFFFF;
    box-shadow: 0px 15.006px 33.0131px rgba(0, 0, 0, 0.06);
    border-radius: 14.7717px;
  }

  .info-work-mobile{
    position: relative;
    .info-work-mobileBg{
      top: -10%!important;
      width: 590px;
      transform: rotate(13deg);
    }
  }

  .mobile-br{
    display: block;
  }

  .desktop-br{
    display: none;
  }

  .main-title__text{
    h1{
      font-size: 40px;
      top: -70%;
    }
  }

  .main-title__mobile{
    top: -32%!important;
    p{
      font-size: 28px!important;
    }
  }

  .main-title__img{
    img{
      width: 300px!important;
    }
    &::before{
      top: 33%!important;
    }
  }

  .info-work-mobileBg{
    width: 495.54!important;
  }

  .wrappMob{
    p{
      font-size: 30px;
      span{
        font-size: 16px!important;
      }
    }

  }

  .info-work__title{
    padding-top: 130px!important;
    p{
      font-weight: normal!important;
    }
  }
  
}

@media (min-width: 321px) and (max-width: 375px){
  .mobile-header__text {
   
    .title {
      p {
       
         font-family: 'ProximaNova-Black'!important;
      }
    }
  }
  
  .btnPlay{
    width: 70px!important;
    height: 70px!important;
    left: 44%!important;
    img{
      width: 20px;
      height: 20px;
    }
  }

  .info-work-mobile{
    position: relative;
    .info-work-mobileBg{
      top: -10%!important;
    }
  }

  .mobile-br{
    display: block;
  }

  .desktop-br{
    display: none;
  }

  .deskt-starIcon{
    display: none;
  }
  .container-header {
    display: none;
  }

  .container-mobile-header {
    display: block !important;

    .mobile-header-logo {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .mobile-header__wrapper {
      display: flex;
      margin-top: 25px;

      .mobile-header__burger {
        top: 50%;
        left: 10%;
        width: 18px;
        height: 3px;
        background: #000;
        position: absolute;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
        transition: 0.5s;
        left: 10px;
        border-radius: 70px;


        &::before {
          content: '';
          position: absolute;
          width: 18px;
          height: 3px;
          background: #000;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          transition: 0.5s;
          top: -7px;
          left: -5px;
          border-radius: 70px;
        }

        &::after {
          content: '';
          position: absolute;
          width: 18px;
          height: 3px;
          background: #000;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          transition: 0.5s;
          top: 7px;
          left: 6px;
          border-radius: 70px;
        }
      }

      .mobile-header__text {
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
          p {
            font-weight: bold;
            font-size: 24px;
            line-height: 14px;
            color: #182642;
            font-family: 'ProximaNova-Bold';
          }
        }
      }
    }
  }

  .info-work {
    display: none;

    &__title{
      padding-top: 0;
    }

    &__icon {
      display: none;
    }
  }

  .main-title {
    .download-btn {
      width: 100%;
    }

    &__text {
      h1 {
        font-weight: 600;
        font-size: 31px!important;
        line-height: 38px;
        position: absolute;
        top: -85%;
      }


      .main-title__mobile {
        display: block;
        margin-top: 40px;
        position: absolute;
        top: -50%;

        .wrappMob {
          display: flex;

          p {
            font-weight: 600;
            font-size: 32px;
            color: #182642;

            &:first-child {
              margin-right: 25px;
            }

            span {
              color: #182642;
              font-size: 14px;
              font-weight: normal;
            }
          }
        }
      }
    }

    &-textWrapper {
      z-index: 99;
      padding-left: 0;

      .download-btn {
        margin-top: 40px;
      }
    }

    .text-descr {
      margin-top: 0!important;
      ul {
        li {
          list-style-type: none;
          color: #182642;
          font-size: 17px!important;
        }
      }

      &__first {
        ul {
          li {
            font-weight: bold!important;
            color: #182642;
          }
        }
      }
    }

    .wrapper-counter {
      display: none;
    }


    &__img {
      img{
        width: 300px;
      }
      &::before {
        left: 0;
        top: 24%;
      }
    }

    .btnPlay {
      left: 35%;
    }
  }

  .union {
    display: none;
  }

  .message-form {
    display: none;
  }

  .footer {
    display: none;
  }

  .info-work-mobileBg {
    background-image: url('../../image/YellowBG.jpg');
    width: 540px!important;
    // width: 100%;
    height: 478.51px;
    right: 0%;
    left: -142px;
    position: absolute;
    background: linear-gradient(180deg, #FFD764 2.64%, #FFD764 45.74%, rgba(255, 215, 100, 0.42) 100%);
    opacity: 0.8;
    border-radius: 40px;
    transform: rotate(15deg);
  }

  .info-work-mobile {

    display: block !important;

    .wrapperBgInfo {
      position: relative;
      margin-top: 70px;

      .info-work__image {
        img {
          width: 100%;
          position: absolute;
        }

        .event1 {
          width: 300px;
          height: 115px;
          position: absolute;
          top: 0px;
          left: 0;


          background: rgba(255, 255, 255, 0.5);
          border-radius: 14.7717px;
        }

        .event2 {
          width: 300px;
          height: 115px;
          position: absolute;
          top: 35px;
          left: 5%;

          background: rgba(255, 255, 255, 0.7);
          border-radius: 14.7717px;
        }

        .event3 {
          width: 300px;
          height: 155px;
          position: absolute;
          top: 70px;
          left: 10%;
          background: #FFFFFF;
          box-shadow: 0px 15.006px 33.0131px rgba(0, 0, 0, 0.06);
          border-radius: 14.7717px;
        }
      }
    }

    .info-work__title {
      h2 {
        margin-top: 170px;
        font-size: 24px;
      }

      p {
        font-weight: normal!important;
        font-size: 15px;
      }
    }

  }

  .iconFly-mobile {
    display: block !important;

    .iconFly-mobile-wrapper {
      display: block;
     
      height: 60px;
      position: relative;

      .mobile-icon-first {
        position: absolute;
        right: 50%;

      }

      .mobile-icon-second {
        position: absolute;
        right: 50%;
        top: 33px;
        opacity: 0.5;
      }
    }
  }

  .message-form-mobile {
    display: block !important;
    margin-top: 20px;

    h2 {
      font-weight: 600;
      font-size: 17px;
      line-height: 24px;
      text-align: center;
      color: #FF557E;
    }

    #messageBtn {
      margin-top: 20px;
      width: 100%;
      height: 44.43px;
      border: 0;
      background: #FFFFFF;
      box-shadow: 0px 5.20391px 26.0195px #E2E7EB;
      border-radius: 8px;
      text-align: center;
    }

    .message-form__text {
      margin-top: 20px;
    }
  }

  .footer-mobile {
    display: block !important;
    margin-top: 94px!important;
    margin-bottom: 50px;

    &-wrapper {
      display: flex;
      justify-content: center;

      .left-side {
        margin-right: 50px;

        &__logo {
          img {
            width: 41.17px;
            height: 42.27px;
          }
        }

        &__social-media {

          ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            li {
              margin-top: 10px;
            }
          }
        }
      }

      .right-side {
        &__text {
          font-style: normal;
          
          font-size: 11px;
          line-height: 18px;
          P{
            font-weight: normal!important;
          }
        }

        &__security {
          margin-top: 35px;
          font-style: normal;
          font-weight: 800;
          font-size: 14px;
          line-height: 17px;
          font-family: 'ProximaNova-Bold';
        }
      }

    }

  }
}





@media (max-width: 320px) {
  .mobile-starIcon{
    width: 14px!important;
    height: 14px!important;
  }

  .mobile-starIcon3{
    width: 14px!important;
    height: 14px!important;
  }

  .mobile-starIcon4{
    width: 22px!important;
    height: 21px!important;
    right: 0%!important;
  }

  .mobile-starIcon5{
    top: 70%!important;
    width: 18px!important;
    height: 17px!important;
  }

  .mobile-br{
    display: block!important;
  }

  .desktop-br{
    display: none!important;
  }

  .deskt-starIcon{
    display: none;
  }
  .container-header {
    display: none;
  }

  .container-mobile-header {
    display: block !important;

    .mobile-header-logo {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .mobile-header__wrapper {
      display: flex;
      margin-top: 25px;

      .mobile-header__burger {
        top: 50%;
        left: 10%;
        width: 18px;
        height: 3px;
        background: #000;
        position: absolute;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
        transition: 0.5s;
        left: 10px;
        border-radius: 70px;


        &::before {
          content: '';
          position: absolute;
          width: 18px;
          height: 3px;
          background: #000;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          transition: 0.5s;
          top: -7px;
          left: -5px;
          border-radius: 70px;
        }

        &::after {
          content: '';
          position: absolute;
          width: 18px;
          height: 3px;
          background: #000;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          transition: 0.5s;
          top: 7px;
          left: 6px;
          border-radius: 70px;
        }
      }

      .mobile-header__text {
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
          p {
            font-weight: bold;
            font-size: 24px;
            line-height: 14px;
            color: #182642;
            font-family: "ProximaNova-Black" !important;
          }
        }
      }
    }
  }

  .info-work {
    display: none;

    &__title{
      padding-top: 0;
    }

    &__icon {
      display: none;
    }
  }

  .info-work-mobile{
    position: relative;
    .info-work-mobileBg{
      top: -5%!important;
    }
  }

  .main-title {
    .download-btn {
      width: 100%;
    }

    &__text {
      h1 {
        font-weight: 600;
        font-size: 28px!important;
        line-height: 34px!important;
        text-align: left;
        position: absolute;
        top: -70%!important;
        margin-bottom: 40px;
      }


      .main-title__mobile {
        display: block;
        margin-top: 40px;
        position: absolute;
        top: -45%;

        .wrappMob {
          display: flex;

          p {
            font-weight: 600;
            font-size: 28px!important;
            color: #182642;

            &:first-child {
              margin-right: 25px;
            }

            span {
              color: #182642;
              font-size: 12px;
              font-weight: normal!important;
            }
          }
        }
      }
    }

    &-textWrapper {
      z-index: 99;
      padding-left: 0;

      .download-btn {
        margin-top: 40px;
      }
    }

     .text-descr {
      margin-top: 20px!important;
      margin-left: 0!important;
      ul {
        li {
          list-style-type: none;
          color: #182642;
          font-size: 13px!important;
          line-height:22px!important;
          padding-left: 0px!important;
        }
      }

      &__first {
        ul {
          li {
            font-weight: bold!important;
            color: #182642;
          }
        }
      }
    }

    .wrapper-counter {
      display: none;
    }


    &__img {
      img{
        width: 230px;
      }
      &::before {
        left: 0;
        top: -14%;
      }
    }

    .btnPlay {
      width: 50px;
    height: 50px;
    top: 35%;
      left: 45%;
      img{
        width: 15px;
      }
    }
  }

  .union {
    display: none;
  }

  .message-form {
    display: none;

    &__text{
      padding-left: 0;
    }
  }

  .footer {
    display: none;
  }

  .info-work-mobileBg {
    background-image: url('../../image/YellowBG.jpg');
     width: 450.54px!important;
    //  width: 100%;
    height: 478.51px;
    
    right: 0%;
    left: -100px;
    position: absolute;
    background: linear-gradient(180deg, #FFD764 2.64%, #FFD764 45.74%, rgba(255, 215, 100, 0.42) 100%);
    opacity: 0.8;
    border-radius: 40px;
    transform: rotate(15deg);
  }

  .info-work-mobile {

    display: block !important;

    .wrapperBgInfo {
      position: relative;
      margin-top: 70px;

      .info-work__image {
        img {
          width: 100%;
          position: absolute;
        }

        .event1 {
          width: 235px;
          height: 104px;
          position: absolute;
          top: 0px;
          left: 0;
          opacity: 0.6;

          background: rgba(255, 255, 255, 0.5);
          border-radius: 14.7717px;
        }

        .event2 {
          width: 235px;
          height: 101px;
          position: absolute;
          top: 35px!important;
          left: 10%;
          opacity: 0.8;
          background: rgba(255, 255, 255, 0.7);
          border-radius: 14.7717px;
        }

        .event3 {
          width: 235px;
          height: 142px;
          position: absolute;
          top: 72px!important;
          left: 20%;
          background: #FFFFFF;
          box-shadow: 0px 15.006px 33.0131px rgba(0, 0, 0, 0.06);
          border-radius: 14.7717px;
        }
      }
    }

    .info-work__title {
      display: flex;
    align-items: stretch;
    margin-top: 305px!important;
    
      h2 {
        text-align: left;
        margin-top: 20px;
        font-size: 24px;
      }

      p {
        font-weight: normal!important;
        margin-top: 20px;
        font-size: 13px;
      }
    }

  }

  .iconFly-mobile {
    display: block !important;

    .iconFly-mobile-wrapper {
      display: block;
     
      height: 60px;
      position: relative;

      .mobile-icon-first {
        position: absolute;
        right: 50%;

      }

      .mobile-icon-second {
        position: absolute;
        right: 50%;
        top: 33px;
        opacity: 0.5;
      }
    }
  }

  .message-form-mobile {
    display: block !important;
    margin-top: 20px;

    h2 {
      font-weight: 600;
      font-size: 17px;
      line-height: 24px;
      text-align: center;
      color: #FF557E;
    }

    #messageBtn {
      margin-top: 20px;
      width: 100%;
      height: 44.43px;
      border: 0;
      background: #FFFFFF;
      box-shadow: 0px 5.20391px 26.0195px #E2E7EB;
      border-radius: 8px;
      text-align: center;
    }

    .message-form__text {
      margin-top: 20px;
    }
  }

  .footer-mobile {
    display: block !important;
    margin-top: 94px;
    margin-bottom: 50px;

    &-wrapper {
      display: flex;
      justify-content: center;

      .left-side {
        margin-right: 50px;

        &__logo {
          img {
            width: 41.17px;
            height: 42.27px;
          }
        }

        &__social-media {

          ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            li {
              margin-top: 10px;
            }
          }
        }
      }

      .right-side {
        &__text {
          font-style: normal;
          font-weight: normal;
          font-size: 12px!important;
          line-height: 18px;

          P{
            font-weight: normal!important;
          }
        }

        &__security {
          margin-top: 35px;
          font-style: normal;
          font-weight: normal!important;
          font-size: 14px;
          line-height: 17px;
          font-family: 'ProximaNova-Black';
        }
      }

    }

  }
}

@media(min-width:376px) and (max-width:425px){
  .iconFly-mobile-wrapper {


    height: 60px!important;


  }



  
}