.message-form {
    margin-top: 400px;
    margin-bottom: 150px;

    button:active,
    button:focus {
        outline: none;
    }

    h2 {
        text-align: center;
        font-weight: 600;
        font-size: 40.51px;
        line-height: 33px;
        color: #FF557E;
        padding-left: 115px;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
        position: relative;

        button[type="submit"] {
            min-width: 82.98px;
            min-height: 55.62px;
            background: #3FAEFF;
            box-shadow: 0px 6.95236px 16.2222px rgba(63, 174, 255,0.7);
            border-radius: 50.9839px;
            border: 0;
            position: absolute;
            left: 80%;
            transition: box-shadow 500ms;
            

            &::after{
                content: url('../image/arrowRight.svg');
                z-index: 333;
            }

            &:hover{
                box-shadow: 0px 6.95236px 16.2222px  rgba(63, 174, 255,1);
                
            }
        }

        #messageBtn {
            $self:&;
            width: 900px;
            height: 96px;
            background: #FFFFFF;
            box-shadow: 0px 16.4088px 42.7549px rgba(92, 100, 110, 0.3);
            border-radius: 15px;
            border: 0;
            text-align: center;
            font-weight: 600;
            font-size: 40px;
            line-height: 33px;
            color: rgba(139, 146, 186, 0.5);
            transition: box-shadow 500ms;
            margin-left: 110px;

            &:hover {
                box-shadow: 0px 16.4088px 42.7549px rgba(92, 100, 110, 0.7);
            }
        }
    }

    &__text {
        text-align: center;
        font-weight: normal;
        font-size: 19.5078px;
        line-height: 33px;
        padding-left: 115px;
    }
}
