.text-info{
    margin-top: 140px;
    &__wrapper{
        p{
            font-weight: 600;
            font-size: 24px;
            line-height: 33px;
            text-align: center;
            color: #8B92BA; 
        }
    }
}