@import 'fonts';
@import './mainPage/_header';
@import './mainPage/mainTitle';
@import './mainPage/infoWork';
@import './mainPage/messageForm';
@import './mainPage/footer';
@import './mainPage/media';



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
	font-family: 'ProximaNova';
	font-weight: 600;
	color: #182642;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button:active, button:focus, input {
	outline: none;
  }
  button::-moz-focus-inner {
	border: 0;
  }

 body {
    
    overflow-x: hidden;
}

.union{
	position: absolute;
	left: -100%;
	bottom:-100%;
	
}
.container-mobile-header{
	display: none;
}

.info-work-mobile{
	display: none;
}

.message-form-mobile{
	display: none;
}

.iconFly-mobile{
	display: none;
}

.footer-mobile{
	display: none;
}

.mobile-br{
	display: none;
}

.desktop-br{
	display: block;
}



  

