@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/ProximaNova/ProximaNova-Regular.ttf);
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url(../fonts/ProximaNova/ProximaNova-Bold.ttf);
}

@font-face {
  font-family: 'ProximaNova-Black';
  src: url(../fonts/ProximaNova/ProximaNova-Black.ttf);
}

header {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin-top: 20px !important;
}

header .logo-section a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #000;
}

header .logo-section a img {
  width: 33px;
  height: 33px;
}

header .logo-section a p {
  font-weight: bold;
  font-size: 32px;
  margin-left: 10px;
  font-family: 'ProximaNova-Black';
}

header nav .nav-section {
  font-size: 20px;
}

header nav .nav-section .active {
  border-bottom: 2px solid #FF557E;
}

header nav .nav-section .active a {
  opacity: 1;
  color: #FF557E;
}

header nav .nav-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 120px;
}

header nav .nav-section ul li a {
  text-decoration: none;
  color: #8B92BA;
  opacity: 0.8;
}

header nav .nav-section ul li a:hover {
  opacity: 1;
}

header nav .nav-section ul .dropdown .dropdownBtn {
  font-weight: 600;
  font-size: 19.5078px;
  line-height: 33px;
  color: #8B92BA;
  opacity: 0.8;
}

header nav .nav-section ul .dropdown .dropdownMenu {
  display: none;
  position: absolute;
  margin-top: 10px;
  margin-left: 5px;
}

header nav .nav-section ul .dropdown .dropdownMenu-active {
  display: block;
}

header nav .nav-section ul .dropdown button {
  border: 0;
  background-color: #fff;
  color: #8B92BA;
  opacity: 0.8;
}

header nav .nav-section ul .dropdown button:hover {
  opacity: 1;
}

header nav .nav-section ul .dropdown button::after {
  content: url("../image/Right.jpg");
}

.main-title {
  margin-top: 50px;
}

.main-title .mobile-starIcon {
  display: none;
}

.main-title .mobile-starIcon3 {
  display: none;
}

.main-title .mobile-starIcon4 {
  display: none;
}

.main-title .mobile-starIcon5 {
  display: none;
}

.main-title .deskt-starIcon {
  position: absolute;
  left: -10%;
  top: 23%;
}

.main-title__mobile {
  display: none;
}

.main-title__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 26%;
  bottom: 200px;
}

.main-title__counter p {
  font-weight: bold;
  font-size: 45px;
}

.main-title__counter p:first-child {
  text-align: right;
  margin-right: 45px;
  margin-left: 15px;
}

.main-title__counter p:nth-child(2) {
  text-align: left;
  margin-left: 25px;
}

.main-title__counter p span {
  font-family: 'ProximaNova-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
}

.main-title__img img {
  width: 500px;
  margin-left: 118px;
}

.main-title__img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 925.15px;
  left: 20%;
  top: 23%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(67.19%, rgba(255, 255, 255, 0.93)), color-stop(90.1%, #FFFFFF));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.93) 67.19%, #FFFFFF 90.1%);
}

.main-title .btnPlay {
  position: absolute;
  left: 95%;
  top: 27%;
  width: 105.27px;
  height: 105.27px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 16.4088px 42.7549px rgba(92, 100, 110, 0.3);
          box-shadow: 0px 16.4088px 42.7549px rgba(92, 100, 110, 0.3);
  border-radius: 50%;
  border: 0;
  z-index: 999;
  -webkit-transition: -webkit-box-shadow 500ms;
  transition: -webkit-box-shadow 500ms;
  transition: box-shadow 500ms;
  transition: box-shadow 500ms, -webkit-box-shadow 500ms;
}

.main-title .btnPlay:hover {
  -webkit-box-shadow: 0px 16.4088px 42.7549px rgba(92, 100, 110, 0.7);
          box-shadow: 0px 16.4088px 42.7549px rgba(92, 100, 110, 0.7);
}

.main-title-textWrapper {
  padding-left: 150px;
  margin-top: 40px;
}

.main-title-textWrapper .main-title__text h1 {
  font-family: 'ProximaNova';
  font-weight: 600;
  font-size: 44px;
  line-height: 56px;
}

.main-title-textWrapper .main-title__text h1 span {
  font-weight: normal;
  font-style: italic;
}

.main-title-textWrapper .main-title__text .text-descr {
  margin-top: 30px;
  margin-left: 20px;
}

.main-title-textWrapper .main-title__text .text-descr__first ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 33px;
  list-style-type: disc;
  padding-left: 22px;
}

.main-title-textWrapper .main-title__text .text-descr__second {
  margin-top: 35px;
}

.main-title-textWrapper .main-title__text .text-descr__second ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 33px;
  list-style-type: disc;
  padding-left: 22px;
}

.main-title__button {
  margin-top: 30px;
  margin-left: 15px;
}

.main-title__button .download-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 321.17px;
  height: 68.24px;
  border: 0;
  background: linear-gradient(255.9deg, #EF209D 11.78%, #F56A8C 87.58%);
  -webkit-box-shadow: 0px 13.5286px 36.0762px rgba(240, 43, 162, 0.5);
          box-shadow: 0px 13.5286px 36.0762px rgba(240, 43, 162, 0.5);
  border-radius: 72.1524px;
  -webkit-transition: -webkit-box-shadow 500ms;
  transition: -webkit-box-shadow 500ms;
  transition: box-shadow 500ms;
  transition: box-shadow 500ms, -webkit-box-shadow 500ms;
}

.main-title__button .download-btn p {
  color: #fff;
  font-weight: 800;
  font-size: 20px;
}

.main-title__button .download-btn:hover {
  -webkit-box-shadow: 0px 13.5286px 36.0762px rgba(240, 43, 162, 0.8);
          box-shadow: 0px 13.5286px 36.0762px rgba(240, 43, 162, 0.8);
}

.info-work__title {
  padding-top: 180px;
}

.info-work__title h2 {
  font-weight: 600;
  font-size: 40.51px;
  line-height: 33px;
  color: #FF557E;
}

.info-work__title p {
  margin-top: 40px;
  font-weight: normal;
  font-size: 20px;
  line-height: 33px;
  color: #182642;
}

.info-work__icon {
  position: relative;
  margin-top: 75px;
  z-index: 3;
}

.info-work__icon-first {
  position: absolute;
  right: -100px;
  top: 100%;
}

.info-work__icon-second {
  position: absolute;
  right: -110px;
  top: 33px;
  opacity: 0.5;
}

.info-work .wrapperBgInfo {
  background-origin: content-box;
}

.info-work .wrapperBgInfo .info-work__image {
  margin-left: 45px;
  background-image: url("../../image/YellowBG.jpg");
  position: absolute;
  width: 1157.71px;
  height: 999.78px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFD764), to(rgba(255, 215, 100, 0)));
  background: linear-gradient(180deg, #FFD764 0%, rgba(255, 215, 100, 0) 100%);
  border-radius: 72px 0px 0px 0px;
}

.info-work .wrapperBgInfo .info-work__image .event1 {
  width: 547px;
  height: 223px;
  position: absolute;
  top: 15%;
  left: 15%;
  opacity: 0.6;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 14.7717px;
}

.info-work .wrapperBgInfo .info-work__image .event2 {
  width: 547px;
  height: 218px;
  position: absolute;
  top: 23%;
  left: 20%;
  opacity: 0.9;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 14.7717px;
}

.info-work .wrapperBgInfo .info-work__image .event3 {
  width: 547px;
  height: 306px;
  position: absolute;
  top: 30%;
  left: 25%;
  /* 2 */
  background: #FFFFFF;
  -webkit-box-shadow: 0px 15.006px 33.0131px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 15.006px 33.0131px rgba(0, 0, 0, 0.06);
  border-radius: 14.7717px;
}

.circle {
  position: absolute;
  width: 408.67px;
  height: 407.36px;
  top: -70%;
  right: -60%;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  -webkit-box-shadow: inset -159.75px 2.66249px 91.856px rgba(0, 0, 0, 0.15);
          box-shadow: inset -159.75px 2.66249px 91.856px rgba(0, 0, 0, 0.15);
  border-radius: 298.199px;
}

.message-form {
  margin-top: 400px;
  margin-bottom: 150px;
}

.message-form button:active,
.message-form button:focus {
  outline: none;
}

.message-form h2 {
  text-align: center;
  font-weight: 600;
  font-size: 40.51px;
  line-height: 33px;
  color: #FF557E;
  padding-left: 115px;
}

.message-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
  position: relative;
}

.message-form form button[type="submit"] {
  min-width: 82.98px;
  min-height: 55.62px;
  background: #3FAEFF;
  -webkit-box-shadow: 0px 6.95236px 16.2222px rgba(63, 174, 255, 0.7);
          box-shadow: 0px 6.95236px 16.2222px rgba(63, 174, 255, 0.7);
  border-radius: 50.9839px;
  border: 0;
  position: absolute;
  left: 80%;
  -webkit-transition: -webkit-box-shadow 500ms;
  transition: -webkit-box-shadow 500ms;
  transition: box-shadow 500ms;
  transition: box-shadow 500ms, -webkit-box-shadow 500ms;
}

.message-form form button[type="submit"]::after {
  content: url("../image/arrowRight.svg");
  z-index: 333;
}

.message-form form button[type="submit"]:hover {
  -webkit-box-shadow: 0px 6.95236px 16.2222px #3faeff;
          box-shadow: 0px 6.95236px 16.2222px #3faeff;
}

.message-form form #messageBtn {
  width: 900px;
  height: 96px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 16.4088px 42.7549px rgba(92, 100, 110, 0.3);
          box-shadow: 0px 16.4088px 42.7549px rgba(92, 100, 110, 0.3);
  border-radius: 15px;
  border: 0;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 33px;
  color: rgba(139, 146, 186, 0.5);
  -webkit-transition: -webkit-box-shadow 500ms;
  transition: -webkit-box-shadow 500ms;
  transition: box-shadow 500ms;
  transition: box-shadow 500ms, -webkit-box-shadow 500ms;
  margin-left: 110px;
}

.message-form form #messageBtn:hover {
  -webkit-box-shadow: 0px 16.4088px 42.7549px rgba(92, 100, 110, 0.7);
          box-shadow: 0px 16.4088px 42.7549px rgba(92, 100, 110, 0.7);
}

.message-form__text {
  text-align: center;
  font-weight: normal;
  font-size: 19.5078px;
  line-height: 33px;
  padding-left: 115px;
}

.footer {
  padding-top: 150px;
  padding-bottom: 150px;
  border-top: 1px solid #C9CCDE;
}

.footer-logo img {
  width: 137.98px;
  height: 141.66px;
}

.footer-text__info {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 33px;
  color: #182642;
}

.footer-text__security {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 33px;
  color: #182642;
}

.footer-social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-social-media ul li {
  margin-top: 35px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.footer-social-media ul li:first-child {
  margin-top: 0;
}

.footer-social-media ul li:hover {
  opacity: 0.7;
}

@media (max-width: 575.98px) {
  .mobile-starIcon {
    display: block !important;
    position: absolute;
    left: 50%;
  }
  .mobile-starIcon3 {
    display: block !important;
    position: absolute;
    left: 5%;
  }
  .mobile-starIcon4 {
    display: block !important;
    position: absolute;
    right: -10%;
  }
  .mobile-starIcon5 {
    display: block !important;
    position: absolute;
    left: 90%;
    top: 50%;
  }
  .deskt-starIcon {
    display: none;
  }
  .container-header {
    display: none;
  }
  .container-mobile-header {
    display: block !important;
  }
  .container-mobile-header .mobile-header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-mobile-header .mobile-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 25px;
  }
  .container-mobile-header .mobile-header__wrapper .mobile-header__burger {
    top: 50%;
    left: 10%;
    width: 18px;
    height: 3px;
    background: #000;
    position: absolute;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    left: 10px;
    border-radius: 70px;
  }
  .container-mobile-header .mobile-header__wrapper .mobile-header__burger::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 3px;
    background: #000;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    top: -7px;
    left: -5px;
    border-radius: 70px;
  }
  .container-mobile-header .mobile-header__wrapper .mobile-header__burger::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 3px;
    background: #000;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    top: 7px;
    left: 6px;
    border-radius: 70px;
  }
  .container-mobile-header .mobile-header__wrapper .mobile-header__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-mobile-header .mobile-header__wrapper .mobile-header__text .title p {
    font-weight: bold;
    font-size: 24px;
    line-height: 14px;
    color: #182642;
    font-family: 'ProximaNova-Bold';
  }
  .info-work {
    display: none;
  }
  .info-work__icon {
    display: none;
  }
  .main-title .download-btn {
    width: 100%;
  }
  .main-title__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-title__text h1 {
    font-weight: 600;
    font-size: 36px !important;
    line-height: 58px;
    position: absolute;
    top: -87%;
  }
  .main-title__text .main-title__mobile {
    display: block;
    margin-top: 40px;
    position: absolute;
    top: -50%;
  }
  .main-title__text .main-title__mobile .wrappMob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-title__text .main-title__mobile .wrappMob p {
    font-weight: 600;
    font-size: 38px;
    color: #182642;
  }
  .main-title__text .main-title__mobile .wrappMob p:first-child {
    margin-right: 25px;
  }
  .main-title__text .main-title__mobile .wrappMob p span {
    color: #182642;
    font-size: 18px;
  }
  .main-title-textWrapper {
    z-index: 99;
    padding-left: 0;
  }
  .main-title-textWrapper .download-btn {
    margin-top: 40px;
  }
  .main-title .text-descr {
    margin-top: 0;
  }
  .main-title .text-descr ul li {
    list-style-type: none !important;
    color: #182642;
  }
  .main-title .text-descr__first ul li {
    font-weight: 800;
    color: #182642;
  }
  .main-title .wrapper-counter {
    display: none;
  }
  .main-title__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-title__img img {
    width: 300px;
    margin-left: 0;
  }
  .main-title__img::before {
    height: 600px;
    left: 0;
    top: 24%;
  }
  .main-title .btnPlay {
    left: 35%;
  }
  .union {
    display: none;
  }
  .message-form {
    display: none;
  }
  .footer {
    display: none;
  }
  .info-work-mobileBg {
    background-image: url("../../image/YellowBG.jpg");
    width: 495.54px;
    height: 478.51px;
    right: 0%;
    left: -100px;
    position: absolute;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2.64%, #FFD764), color-stop(45.74%, #FFD764), to(rgba(255, 215, 100, 0.42)));
    background: linear-gradient(180deg, #FFD764 2.64%, #FFD764 45.74%, rgba(255, 215, 100, 0.42) 100%);
    opacity: 0.8;
    border-radius: 40px;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  .info-work-mobile {
    display: block !important;
  }
  .info-work-mobile .wrapperBgInfo {
    position: relative;
    margin-top: 70px;
  }
  .info-work-mobile .wrapperBgInfo .info-work__image img {
    width: 100%;
    position: absolute;
  }
  .info-work-mobile .wrapperBgInfo .info-work__image .event1 {
    width: 330px;
    height: 115px;
    position: absolute;
    top: 0px;
    left: 0;
    opacity: 0.6;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 14.7717px;
  }
  .info-work-mobile .wrapperBgInfo .info-work__image .event2 {
    width: 330px;
    height: 115px;
    position: absolute;
    top: 35px !important;
    left: 5%;
    opacity: 0.8;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 14.7717px;
  }
  .info-work-mobile .wrapperBgInfo .info-work__image .event3 {
    width: 330px;
    height: 155px;
    position: absolute;
    top: 70px !important;
    left: 10%;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 15.006px 33.0131px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 15.006px 33.0131px rgba(0, 0, 0, 0.06);
    border-radius: 14.7717px;
  }
  .info-work-mobile .info-work__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 150px !important;
  }
  .info-work-mobile .info-work__title h2 {
    text-align: left;
    margin-top: 20px;
    font-size: 24px;
  }
  .info-work-mobile .info-work__title p {
    font-weight: 800;
    margin-top: 20px;
    font-size: 14px;
  }
  .info-work-mobile p {
    font-size: 18px;
  }
  .iconFly-mobile {
    display: block !important;
  }
  .iconFly-mobile .iconFly-mobile-wrapper {
    display: block;
    margin: 30px 0;
    height: 100px;
    position: relative;
  }
  .iconFly-mobile .iconFly-mobile-wrapper .mobile-icon-first {
    position: absolute;
    right: 50%;
  }
  .iconFly-mobile .iconFly-mobile-wrapper .mobile-icon-second {
    position: absolute;
    right: 50%;
    top: 33px;
    opacity: 0.5;
  }
  .message-form-mobile {
    display: block !important;
    margin-top: 20px;
  }
  .message-form-mobile h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #FF557E;
  }
  .message-form-mobile #messageBtn {
    margin-top: 20px;
    width: 100%;
    height: 44.43px;
    border: 0;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 5.20391px 26.0195px #E2E7EB;
            box-shadow: 0px 5.20391px 26.0195px #E2E7EB;
    border-radius: 8px;
    text-align: center;
  }
  .message-form-mobile .message-form__text {
    margin-top: 20px;
    padding-left: 0;
  }
  .footer-mobile {
    display: block !important;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .footer-mobile-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-mobile-wrapper .left-side {
    margin-right: 50px;
  }
  .footer-mobile-wrapper .left-side__logo img {
    width: 41.17px;
    height: 42.27px;
  }
  .footer-mobile-wrapper .left-side__social-media ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-mobile-wrapper .left-side__social-media ul li {
    margin-top: 10px;
  }
  .footer-mobile-wrapper .right-side__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
  }
  .footer-mobile-wrapper .right-side__security {
    margin-top: 35px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 17px;
    font-family: 'ProximaNova-Bold';
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .circle {
    right: -45% !important;
  }
  .union {
    position: absolute;
    left: -30% !important;
    bottom: -80% !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .union {
    position: absolute;
    left: -50% !important;
    bottom: -70% !important;
  }
  .main-title__img::before {
    left: 3%;
  }
  .main-title__img img {
    margin-left: 0;
  }
  .main-title__counter {
    position: static;
    margin-bottom: 100px;
  }
  .circle {
    top: -55%;
    right: -90%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .main-title__img::before {
    top: 40% !important;
  }
  .info-work__title {
    margin-top: 450px !important;
  }
  .event2 {
    top: 53px !important;
  }
  .event1 {
    top: -35px !important;
  }
  .message-form__text {
    padding-left: 0 !important;
  }
}

@media (max-width: 992px) {
  .mobile-br {
    display: block;
  }
  .desktop-br {
    display: none;
  }
  .deskt-starIcon {
    display: none;
  }
  .mobile-starIcon {
    display: block !important;
    position: absolute;
    left: 50%;
  }
  .mobile-starIcon3 {
    display: block !important;
    position: absolute;
    left: 5%;
  }
  .mobile-starIcon4 {
    display: block !important;
    position: absolute;
    right: -10%;
  }
  .mobile-starIcon5 {
    display: block !important;
    position: absolute;
    left: 90%;
    top: 50%;
  }
  .container-header {
    display: none;
  }
  .container-mobile-header {
    display: block !important;
  }
  .container-mobile-header .mobile-header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-mobile-header .mobile-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 25px;
  }
  .container-mobile-header .mobile-header__wrapper .mobile-header__burger {
    top: 50%;
    left: 10%;
    width: 18px;
    height: 3px;
    background: #000;
    position: absolute;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    left: 10px;
    border-radius: 70px;
  }
  .container-mobile-header .mobile-header__wrapper .mobile-header__burger::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 3px;
    background: #000;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    top: -7px;
    left: -5px;
    border-radius: 70px;
  }
  .container-mobile-header .mobile-header__wrapper .mobile-header__burger::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 3px;
    background: #000;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    top: 7px;
    left: 6px;
    border-radius: 70px;
  }
  .container-mobile-header .mobile-header__wrapper .mobile-header__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-mobile-header .mobile-header__wrapper .mobile-header__text .title p {
    font-weight: bold;
    font-size: 24px;
    line-height: 14px;
    color: #182642;
    font-family: 'ProximaNova-Bold';
  }
  .info-work {
    display: none;
  }
  .info-work__icon {
    display: none;
  }
  .main-title .download-btn {
    width: 100%;
  }
  .main-title__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
    margin-right: 0;
  }
  .main-title__img img {
    margin-left: 0 !important;
  }
  .main-title__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-title__text h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 62px;
    position: absolute;
    top: -100%;
  }
  .main-title__text .main-title__mobile {
    display: block !important;
    margin-top: 40px;
    position: absolute;
    top: -50%;
  }
  .main-title__text .main-title__mobile .wrappMob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-title__text .main-title__mobile .wrappMob p {
    font-weight: 600;
    font-size: 38px;
    color: #182642;
  }
  .main-title__text .main-title__mobile .wrappMob p:first-child {
    margin-right: 25px;
  }
  .main-title__text .main-title__mobile .wrappMob p span {
    color: #182642;
    font-size: 22px;
  }
  .main-title-textWrapper {
    z-index: 99;
    padding-left: 0;
  }
  .main-title-textWrapper .download-btn {
    margin-top: 40px;
  }
  .main-title .text-descr {
    margin-top: 0;
  }
  .main-title .text-descr ul li {
    list-style-type: none !important;
    color: #182642;
  }
  .main-title .text-descr__first ul li {
    font-weight: 800;
    color: #182642;
  }
  .main-title .wrapper-counter {
    display: none;
  }
  .main-title__img img img {
    margin-left: 0 !important;
  }
  .main-title__img::before {
    left: 0;
    top: 18%;
  }
  .main-title .btnPlay {
    left: 42%;
  }
  .union {
    display: none;
  }
  .message-form {
    display: none;
  }
  .footer {
    display: none;
  }
  .info-work-mobileBg {
    background-image: url("../../image/YellowBG.jpg");
    width: 1000px;
    height: 478.51px;
    right: 0%;
    left: -142px;
    position: absolute;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2.64%, #FFD764), color-stop(45.74%, #FFD764), to(rgba(255, 215, 100, 0.42)));
    background: linear-gradient(180deg, #FFD764 2.64%, #FFD764 45.74%, rgba(255, 215, 100, 0.42) 100%);
    opacity: 0.8;
    border-radius: 40px;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  .info-work-mobile {
    display: block !important;
  }
  .info-work-mobile .wrapperBgInfo {
    position: relative;
    margin-top: 70px;
  }
  .info-work-mobile .wrapperBgInfo .info-work__image img {
    width: 100%;
    position: absolute;
  }
  .info-work-mobile .wrapperBgInfo .info-work__image .event1 {
    position: absolute;
    top: 0px;
    left: 0;
    opacity: 0.6;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 14.7717px;
  }
  .info-work-mobile .wrapperBgInfo .info-work__image .event2 {
    position: absolute;
    top: 70px;
    left: 5%;
    opacity: 0.8;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 14.7717px;
  }
  .info-work-mobile .wrapperBgInfo .info-work__image .event3 {
    position: absolute;
    top: 140px;
    left: 10%;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 15.006px 33.0131px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 15.006px 33.0131px rgba(0, 0, 0, 0.06);
    border-radius: 14.7717px;
  }
  .info-work-mobile .info-work__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 350px;
    margin-bottom: 40px;
  }
  .info-work-mobile .info-work__title h2 {
    margin-top: 40px;
    font-size: 34px;
  }
  .info-work-mobile .info-work__title p {
    font-size: 18px;
  }
  .iconFly-mobile {
    display: block !important;
  }
  .iconFly-mobile .iconFly-mobile-wrapper {
    display: block;
    margin: 30px 0;
    height: 100px;
    position: relative;
  }
  .iconFly-mobile .iconFly-mobile-wrapper .mobile-icon-first {
    position: absolute;
    right: 50%;
  }
  .iconFly-mobile .iconFly-mobile-wrapper .mobile-icon-second {
    position: absolute;
    right: 50%;
    top: 33px;
    opacity: 0.5;
  }
  .message-form-mobile {
    display: block !important;
    margin-top: 20px;
  }
  .message-form-mobile h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #FF557E;
  }
  .message-form-mobile #messageBtn {
    margin-top: 20px;
    width: 100%;
    height: 44.43px;
    border: 0;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 5.20391px 26.0195px #E2E7EB;
            box-shadow: 0px 5.20391px 26.0195px #E2E7EB;
    border-radius: 8px;
    text-align: center;
  }
  .message-form-mobile .message-form__text {
    margin-top: 20px;
  }
  .footer-mobile {
    display: block !important;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .footer-mobile-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-mobile-wrapper .left-side {
    margin-right: 50px;
  }
  .footer-mobile-wrapper .left-side__logo img {
    width: 41.17px;
    height: 42.27px;
  }
  .footer-mobile-wrapper .left-side__social-media ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-mobile-wrapper .left-side__social-media ul li {
    margin-top: 10px;
  }
  .footer-mobile-wrapper .right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-mobile-wrapper .right-side__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
  }
  .footer-mobile-wrapper .right-side__security {
    margin-top: 35px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 17px;
    font-family: 'ProximaNova-Bold';
  }
}

@media (min-width: 425px) and (max-width: 575px) {
  .btnPlay {
    width: 70px !important;
    height: 70px !important;
  }
  .btnPlay img {
    width: 20px;
    height: 20px;
  }
  .info-work-mobile {
    position: relative;
  }
  .info-work-mobile .info-work-mobileBg {
    top: -5% !important;
  }
  .main-title__img::before {
    height: 900px !important;
    top: 32% !important;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .btnPlay {
    width: 70px !important;
    height: 70px !important;
  }
  .btnPlay img {
    width: 20px;
    height: 20px;
  }
  .event1 {
    width: 330px;
    height: 125px;
    position: absolute;
    top: 0px;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 14.7717px;
  }
  .event2 {
    width: 330px;
    height: 125px;
    position: absolute;
    top: 35px;
    left: 5%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 14.7717px;
  }
  .event3 {
    width: 330px;
    height: 165px;
    position: absolute;
    top: 70px;
    left: 10%;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 15.006px 33.0131px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 15.006px 33.0131px rgba(0, 0, 0, 0.06);
    border-radius: 14.7717px;
  }
  .info-work-mobile {
    position: relative;
  }
  .info-work-mobile .info-work-mobileBg {
    top: -7% !important;
    width: 590px;
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
  }
  .mobile-br {
    display: block;
  }
  .desktop-br {
    display: none;
  }
  .main-title__text h1 {
    font-size: 40px;
    top: -70%;
  }
  .main-title__mobile {
    top: -32% !important;
  }
  .main-title__mobile p {
    font-size: 28px !important;
  }
  .main-title__img img {
    width: 300px !important;
  }
  .main-title__img::before {
    top: 33% !important;
  }
  .info-work-mobileBg {
    width: 495.54 !important;
  }
  .wrappMob p {
    font-size: 30px;
  }
  .wrappMob p span {
    font-size: 16px !important;
  }
  .info-work__title {
    padding-top: 130px !important;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .btnPlay {
    width: 70px !important;
    height: 70px !important;
    left: 44% !important;
  }
  .btnPlay img {
    width: 20px;
    height: 20px;
  }
  .info-work-mobile {
    position: relative;
  }
  .info-work-mobile .info-work-mobileBg {
    top: -10% !important;
  }
  .mobile-br {
    display: block;
  }
  .desktop-br {
    display: none;
  }
  .deskt-starIcon {
    display: none;
  }
  .container-header {
    display: none;
  }
  .container-mobile-header {
    display: block !important;
  }
  .container-mobile-header .mobile-header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-mobile-header .mobile-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 25px;
  }
  .container-mobile-header .mobile-header__wrapper .mobile-header__burger {
    top: 50%;
    left: 10%;
    width: 18px;
    height: 3px;
    background: #000;
    position: absolute;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    left: 10px;
    border-radius: 70px;
  }
  .container-mobile-header .mobile-header__wrapper .mobile-header__burger::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 3px;
    background: #000;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    top: -7px;
    left: -5px;
    border-radius: 70px;
  }
  .container-mobile-header .mobile-header__wrapper .mobile-header__burger::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 3px;
    background: #000;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    top: 7px;
    left: 6px;
    border-radius: 70px;
  }
  .container-mobile-header .mobile-header__wrapper .mobile-header__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-mobile-header .mobile-header__wrapper .mobile-header__text .title p {
    font-weight: bold;
    font-size: 24px;
    line-height: 14px;
    color: #182642;
    font-family: 'ProximaNova-Bold';
  }
  .info-work {
    display: none;
  }
  .info-work__title {
    padding-top: 0;
  }
  .info-work__icon {
    display: none;
  }
  .main-title .download-btn {
    width: 100%;
  }
  .main-title__text h1 {
    font-weight: 600;
    font-size: 34px !important;
    line-height: 38px;
    position: absolute;
    top: -55%;
  }
  .main-title__text .main-title__mobile {
    display: block;
    margin-top: 40px;
    position: absolute;
    top: -32%;
  }
  .main-title__text .main-title__mobile .wrappMob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-title__text .main-title__mobile .wrappMob p {
    font-weight: 600;
    font-size: 28px;
    color: #182642;
  }
  .main-title__text .main-title__mobile .wrappMob p:first-child {
    margin-right: 25px;
  }
  .main-title__text .main-title__mobile .wrappMob p span {
    color: #182642;
    font-size: 12px;
  }
  .main-title-textWrapper {
    z-index: 99;
    padding-left: 0;
  }
  .main-title-textWrapper .download-btn {
    margin-top: 40px;
  }
  .main-title .text-descr ul li {
    list-style-type: none;
    color: #182642;
  }
  .main-title .text-descr__first ul li {
    font-weight: 800;
    color: #182642;
  }
  .main-title .wrapper-counter {
    display: none;
  }
  .main-title__img img {
    width: 300px;
  }
  .main-title__img::before {
    left: 0;
    top: 24%;
  }
  .main-title .btnPlay {
    left: 35%;
  }
  .union {
    display: none;
  }
  .message-form {
    display: none;
  }
  .footer {
    display: none;
  }
  .info-work-mobileBg {
    background-image: url("../../image/YellowBG.jpg");
    width: 540px !important;
    height: 478.51px;
    right: 0%;
    left: -142px;
    position: absolute;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2.64%, #FFD764), color-stop(45.74%, #FFD764), to(rgba(255, 215, 100, 0.42)));
    background: linear-gradient(180deg, #FFD764 2.64%, #FFD764 45.74%, rgba(255, 215, 100, 0.42) 100%);
    opacity: 0.8;
    border-radius: 40px;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  .info-work-mobile {
    display: block !important;
  }
  .info-work-mobile .wrapperBgInfo {
    position: relative;
    margin-top: 70px;
  }
  .info-work-mobile .wrapperBgInfo .info-work__image img {
    width: 100%;
    position: absolute;
  }
  .info-work-mobile .wrapperBgInfo .info-work__image .event1 {
    width: 300px;
    height: 115px;
    position: absolute;
    top: 0px;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 14.7717px;
  }
  .info-work-mobile .wrapperBgInfo .info-work__image .event2 {
    width: 300px;
    height: 115px;
    position: absolute;
    top: 35px;
    left: 5%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 14.7717px;
  }
  .info-work-mobile .wrapperBgInfo .info-work__image .event3 {
    width: 300px;
    height: 155px;
    position: absolute;
    top: 70px;
    left: 10%;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 15.006px 33.0131px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 15.006px 33.0131px rgba(0, 0, 0, 0.06);
    border-radius: 14.7717px;
  }
  .info-work-mobile .info-work__title h2 {
    margin-top: 170px;
    font-size: 24px;
  }
  .info-work-mobile .info-work__title p {
    font-size: 14px;
  }
  .iconFly-mobile {
    display: block !important;
  }
  .iconFly-mobile .iconFly-mobile-wrapper {
    display: block;
    margin: 30px 0;
    height: 100px;
    position: relative;
  }
  .iconFly-mobile .iconFly-mobile-wrapper .mobile-icon-first {
    position: absolute;
    right: 50%;
  }
  .iconFly-mobile .iconFly-mobile-wrapper .mobile-icon-second {
    position: absolute;
    right: 50%;
    top: 33px;
    opacity: 0.5;
  }
  .message-form-mobile {
    display: block !important;
    margin-top: 20px;
  }
  .message-form-mobile h2 {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #FF557E;
  }
  .message-form-mobile #messageBtn {
    margin-top: 20px;
    width: 100%;
    height: 44.43px;
    border: 0;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 5.20391px 26.0195px #E2E7EB;
            box-shadow: 0px 5.20391px 26.0195px #E2E7EB;
    border-radius: 8px;
    text-align: center;
  }
  .message-form-mobile .message-form__text {
    margin-top: 20px;
  }
  .footer-mobile {
    display: block !important;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .footer-mobile-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-mobile-wrapper .left-side {
    margin-right: 50px;
  }
  .footer-mobile-wrapper .left-side__logo img {
    width: 41.17px;
    height: 42.27px;
  }
  .footer-mobile-wrapper .left-side__social-media ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-mobile-wrapper .left-side__social-media ul li {
    margin-top: 10px;
  }
  .footer-mobile-wrapper .right-side__text {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 18px;
  }
  .footer-mobile-wrapper .right-side__security {
    margin-top: 35px;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    font-family: 'ProximaNova-Bold';
  }
}

@media (max-width: 320px) {
  .mobile-starIcon4 {
    width: 22px !important;
    height: 21px !important;
  }
  .mobile-starIcon5 {
    top: 70% !important;
  }
  .mobile-br {
    display: block !important;
  }
  .desktop-br {
    display: none !important;
  }
  .deskt-starIcon {
    display: none;
  }
  .container-header {
    display: none;
  }
  .container-mobile-header {
    display: block !important;
  }
  .container-mobile-header .mobile-header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-mobile-header .mobile-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 25px;
  }
  .container-mobile-header .mobile-header__wrapper .mobile-header__burger {
    top: 50%;
    left: 10%;
    width: 18px;
    height: 3px;
    background: #000;
    position: absolute;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    left: 10px;
    border-radius: 70px;
  }
  .container-mobile-header .mobile-header__wrapper .mobile-header__burger::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 3px;
    background: #000;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    top: -7px;
    left: -5px;
    border-radius: 70px;
  }
  .container-mobile-header .mobile-header__wrapper .mobile-header__burger::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 3px;
    background: #000;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    top: 7px;
    left: 6px;
    border-radius: 70px;
  }
  .container-mobile-header .mobile-header__wrapper .mobile-header__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-mobile-header .mobile-header__wrapper .mobile-header__text .title p {
    font-weight: bold;
    font-size: 24px;
    line-height: 14px;
    color: #182642;
    font-family: 'ProximaNova-Bold';
  }
  .info-work {
    display: none;
  }
  .info-work__title {
    padding-top: 0;
  }
  .info-work__icon {
    display: none;
  }
  .info-work-mobile {
    position: relative;
  }
  .info-work-mobile .info-work-mobileBg {
    top: -5% !important;
  }
  .main-title .download-btn {
    width: 100%;
  }
  .main-title__text h1 {
    font-weight: 600;
    font-size: 25px !important;
    line-height: 34px !important;
    text-align: left;
    position: absolute;
    top: -43%;
    margin-bottom: 40px;
  }
  .main-title__text .main-title__mobile {
    display: block;
    margin-top: 40px;
    position: absolute;
    top: -25%;
  }
  .main-title__text .main-title__mobile .wrappMob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-title__text .main-title__mobile .wrappMob p {
    font-weight: 600;
    font-size: 28px;
    color: #182642;
  }
  .main-title__text .main-title__mobile .wrappMob p:first-child {
    margin-right: 25px;
  }
  .main-title__text .main-title__mobile .wrappMob p span {
    color: #182642;
    font-size: 12px;
  }
  .main-title-textWrapper {
    z-index: 99;
    padding-left: 0;
  }
  .main-title-textWrapper .download-btn {
    margin-top: 40px;
  }
  .main-title .text-descr ul li {
    list-style-type: none;
    color: #182642;
  }
  .main-title .text-descr__first ul li {
    font-weight: bold !important;
    color: #182642;
  }
  .main-title .wrapper-counter {
    display: none;
  }
  .main-title__img img {
    width: 230px;
  }
  .main-title__img::before {
    left: 0;
    top: -14%;
  }
  .main-title .btnPlay {
    width: 50px;
    height: 50px;
    top: 35%;
    left: 45%;
  }
  .main-title .btnPlay img {
    width: 15px;
  }
  .union {
    display: none;
  }
  .message-form {
    display: none;
  }
  .message-form__text {
    padding-left: 0;
  }
  .footer {
    display: none;
  }
  .info-work-mobileBg {
    background-image: url("../../image/YellowBG.jpg");
    width: 450.54px !important;
    height: 478.51px;
    right: 0%;
    left: -100px;
    position: absolute;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2.64%, #FFD764), color-stop(45.74%, #FFD764), to(rgba(255, 215, 100, 0.42)));
    background: linear-gradient(180deg, #FFD764 2.64%, #FFD764 45.74%, rgba(255, 215, 100, 0.42) 100%);
    opacity: 0.8;
    border-radius: 40px;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  .info-work-mobile {
    display: block !important;
  }
  .info-work-mobile .wrapperBgInfo {
    position: relative;
    margin-top: 70px;
  }
  .info-work-mobile .wrapperBgInfo .info-work__image img {
    width: 100%;
    position: absolute;
  }
  .info-work-mobile .wrapperBgInfo .info-work__image .event1 {
    width: 235px;
    height: 104px;
    position: absolute;
    top: 0px;
    left: 0;
    opacity: 0.6;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 14.7717px;
  }
  .info-work-mobile .wrapperBgInfo .info-work__image .event2 {
    width: 235px;
    height: 101px;
    position: absolute;
    top: 35px !important;
    left: 10%;
    opacity: 0.8;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 14.7717px;
  }
  .info-work-mobile .wrapperBgInfo .info-work__image .event3 {
    width: 235px;
    height: 142px;
    position: absolute;
    top: 72px !important;
    left: 20%;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 15.006px 33.0131px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 15.006px 33.0131px rgba(0, 0, 0, 0.06);
    border-radius: 14.7717px;
  }
  .info-work-mobile .info-work__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-top: 305px !important;
  }
  .info-work-mobile .info-work__title h2 {
    text-align: left;
    margin-top: 20px;
    font-size: 24px;
  }
  .info-work-mobile .info-work__title p {
    font-weight: 800;
    margin-top: 20px;
    font-size: 14px;
  }
  .iconFly-mobile {
    display: block !important;
  }
  .iconFly-mobile .iconFly-mobile-wrapper {
    display: block;
    margin: 30px 0;
    height: 100px;
    position: relative;
  }
  .iconFly-mobile .iconFly-mobile-wrapper .mobile-icon-first {
    position: absolute;
    right: 50%;
  }
  .iconFly-mobile .iconFly-mobile-wrapper .mobile-icon-second {
    position: absolute;
    right: 50%;
    top: 33px;
    opacity: 0.5;
  }
  .message-form-mobile {
    display: block !important;
    margin-top: 20px;
  }
  .message-form-mobile h2 {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #FF557E;
  }
  .message-form-mobile #messageBtn {
    margin-top: 20px;
    width: 100%;
    height: 44.43px;
    border: 0;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 5.20391px 26.0195px #E2E7EB;
            box-shadow: 0px 5.20391px 26.0195px #E2E7EB;
    border-radius: 8px;
    text-align: center;
  }
  .message-form-mobile .message-form__text {
    margin-top: 20px;
  }
  .footer-mobile {
    display: block !important;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .footer-mobile-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-mobile-wrapper .left-side {
    margin-right: 50px;
  }
  .footer-mobile-wrapper .left-side__logo img {
    width: 41.17px;
    height: 42.27px;
  }
  .footer-mobile-wrapper .left-side__social-media ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-mobile-wrapper .left-side__social-media ul li {
    margin-top: 10px;
  }
  .footer-mobile-wrapper .right-side__text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
  }
  .footer-mobile-wrapper .right-side__security {
    margin-top: 35px;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    font-family: 'ProximaNova-Black';
  }
}

html {
  overflow-x: hidden !important;
}

body {
  overflow-x: hidden;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'ProximaNova';
  font-weight: 600;
  color: #182642;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button:active, button:focus, input {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

body {
  overflow-x: hidden;
}

.union {
  position: absolute;
  left: -100%;
  bottom: -100%;
}

.container-mobile-header {
  display: none;
}

.info-work-mobile {
  display: none;
}

.message-form-mobile {
  display: none;
}

.iconFly-mobile {
  display: none;
}

.footer-mobile {
  display: none;
}

.mobile-br {
  display: none;
}

.desktop-br {
  display: block;
}
/*# sourceMappingURL=style.css.map */