
.section-anchors{
    margin: 30px 0;

    .anchors{
        display: flex;
        justify-content: space-around;
        align-items: center;
        

        a{
            display: flex;
            justify-content: center;
            align-items: center;

            p{
                margin-left: 10px;
                text-transform: uppercase;
            }
        }
    }
}