@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.margin-head {
  margin: 10px 0;
}

.navigationPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.navigationPanel ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigationPanel ul li {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  font: 0 "Nunito";
}

.navigationPanel ul li a {
  text-decoration: none;
  color: #212529;
}

.addNavigationPanel {
  height: 100px;
}

.addNavigationPanel ul li {
  font: 24px "Nunito";
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper .header__nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-wrapper .header__logo {
  margin-left: 20px;
}

.header-wrapper .header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000;
}

.header-wrapper .header__logo a p {
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 0;
}

.header-wrapper .header__logo a p span {
  text-transform: uppercase;
}

.header-wrapper .header__logo img {
  width: 64px;
  height: 64px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.header__contacts-phone a {
  text-decoration: none;
  color: #000;
}

.header__contacts-phone a:hover {
  color: #000;
  text-decoration: none;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.header__btn-call {
  font-family: "Nunito";
}

.menu-btn {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 1.8s;
  transition: all 1.8s;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  width: 30px;
  margin-left: -15px;
  height: 3px;
  border-radius: 1px;
  background-color: #474343;
}

.menu-btn span::before,
.menu-btn span::after {
  content: '';
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu-btn span::before {
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
}

.menu-btn span::after {
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
}

.menu-btn-active span {
  height: 0;
}

.menu-btn-active span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu-btn-active span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #125688;
  color: white;
}

.fa-instagram a:hover {
  color: #fff;
}

.section-footer {
  margin: 30px 0;
}

.section-footer__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.section-footer__contacts-title {
  text-align: center;
  margin-bottom: 20px;
}

.section-footer__contacts-address {
  margin-bottom: 20px;
}

.section-footer__contacts-address address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-footer__contacts-messangers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
}

.section-footer__contacts-security {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-footer__contacts-security a {
  color: #000;
}

.section-footer__contacts-security a:hover {
  text-decoration: none;
}

.section-footer__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.section-footer__contacts-messangers a {
  background-color: #636262;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.section-cleaning {
  margin: 50px 0;
  padding-bottom: 30px;
}

.section-cleaning .hs_tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-cleaning .hs_tab .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-cleaning .hs_tab .nav-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #e3e3e3;
  width: 100%;
}

.section-cleaning .hs_tab .nav-wrapper ul li {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-bottom: 1px solid #e3e3e3;
  text-transform: uppercase;
  height: 75px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section-cleaning .hs_tab .nav-wrapper ul li:hover {
  background-color: #e3e3e3;
}

.section-cleaning .hs_tab .nav-wrapper ul li:last-child {
  border-bottom: none;
}

.section-cleaning .hs_tab .nav-wrapper ul li a {
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

.section-cleaning .hs_heading {
  text-align: center;
  margin: 20px 0;
}

.section-cleaning .tab-content .bg-slider {
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 300px;
  width: 100%;
}

.section-cleaning .tab-content .bg-slider a {
  margin: 5px 0;
}

.section-cleaning .tab-content .bg-slider a:hover {
  background-color: #3f454b;
}

.section-cleaning .tab-content .bg-slider__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(95, 91, 91, 0.7);
  opacity: 0.9;
  padding: 10px;
}

.section-cleaning .tab-content .bg-slider__size-text {
  text-align: center;
  padding: 20px 0;
  color: white;
}

.section-cleaning .tab-content .bg-slider__size-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
}

.section-cleaning button {
  font-family: "Nunito";
  text-transform: uppercase;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito/Nunito-Black.ttf");
}

@media (max-width: 575.98px) {
  .header__contacts {
    padding: 10px 0;
  }
  .header__btn {
    padding: 10px 0;
  }
  .hs_tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hs_tab .bg-slider {
    height: 350px !important;
    margin-top: 20px;
  }
  .navigationPanel ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-anchors .anchors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-anchors .anchors li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .section-anchors .anchors li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .twentytwenty-before-label {
    height: 500px !important;
  }
  .twentytwenty-after-label {
    height: 500px !important;
  }
  .twentytwenty-container img {
    height: 500px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .twentytwenty-before-label {
    height: 500px !important;
  }
  .twentytwenty-after-label {
    height: 500px !important;
  }
  .twentytwenty-container img {
    height: 500px !important;
  }
  .slider-nav {
    height: 200px !important;
  }
  .slider-nav img {
    height: 200px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .twentytwenty-before-label {
    height: 650px !important;
  }
  .twentytwenty-after-label {
    height: 650px !important;
  }
  .twentytwenty-container img {
    height: 650px !important;
  }
  .slider-nav {
    height: 250px !important;
  }
  .slider-nav img {
    height: 250px !important;
  }
}

@media (min-width: 1200px) {
  .twentytwenty-before-label {
    height: 650px !important;
  }
  .twentytwenty-after-label {
    height: 650px !important;
  }
  .twentytwenty-container img {
    height: 650px !important;
  }
  .slider-nav {
    height: 250px !important;
  }
  .slider-nav img {
    height: 250px !important;
  }
  .autoplay__slide-wrapper img {
    width: 180px !important;
    height: 180px !important;
  }
}

@media (max-width: 1199.98px) {
  .autoplay__slide-wrapper img {
    width: 180px !important;
    height: 180px !important;
  }
}

.section-info {
  padding: 60px 0;
}

.section-info__wrapper-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-info__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.section-info__btn {
  margin: 10px 0px;
}

.section-info__btn a {
  margin: 0 5px;
}

.section-info__image img {
  width: 100%;
}

.body_slides {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: -2;
  background: #fff;
}

.body_slides li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: none;
  opacity: 0;
  -webkit-animation: anim_slides 18s linear infinite 0s;
          animation: anim_slides 18s linear infinite 0s;
}

.body_slides li::after {
  content: '';
  width: 300px;
  height: 300px;
  background-color: #000;
}

.body_slides li:nth-child(1) {
  background-image: url(../image/sliderImg-1.jpg);
}

.body_slides li:nth-child(2) {
  -webkit-animation-delay: 6.0s;
          animation-delay: 6.0s;
  background-image: url(../image/sliderImg-2.jpg);
}

.body_slides li:nth-child(3) {
  -webkit-animation-delay: 12.0s;
          animation-delay: 12.0s;
  background-image: url(../image/sliderImg-4.jpg);
}

@-webkit-keyframes anim_slides {
  0% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes anim_slides {
  0% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes anim_slides {
  0% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.section-anchors {
  margin: 30px 0;
}

.section-anchors .anchors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-anchors .anchors a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-anchors .anchors a p {
  margin-left: 10px;
  text-transform: uppercase;
}

.express__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.express__info p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-cervice-buttons {
  margin: 30px 0;
  padding: 30px 0;
}

.section-cervice-buttons__title {
  text-transform: uppercase;
  text-align: center;
}

.section-cervice-buttons .buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  margin-top: 10px;
}

.section-cervice-buttons .buttons-wrapper button {
  border-bottom: 1px solid #e3e3e3 !important;
  height: 70px !important;
  font-family: "Nunito" !important;
  text-transform: uppercase;
}

.related-products__title {
  margin-bottom: 30px;
}

.related-products__title h2 {
  text-align: center;
}

.related-products__slider .sl__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: none;
}

.related-products__slider .sl__slide .sl__img {
  width: 100%;
  height: 250px;
}

.related-products__slider .sl__text {
  text-align: center;
}

.section-clients {
  padding: 70px 0;
}

.section-clients__title {
  text-align: center;
  margin: 40px 0;
}

.section-clients__private-title {
  margin-top: 20px;
  text-align: center;
}

.organization-wrapper {
  padding: 20px 0;
}

/* весь контейнер поддерживает перспективу */
.flip-container {
  -webkit-perspective: 1000;
          perspective: 1000;
}

.flip-container img {
  width: 100%;
  height: 100%;
}

/* переверните сторону при проведении мышью */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

/* здесь находится скорость перевертывания */
.flipper {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

/* скройте обратную сторону во время переворота */
.front, .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* лицевая сторона размещена над обратной */
.front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

/* обратная, изначально скрытая сторона */
.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.companies ul {
  border: 0 !important;
}

.companies ul li {
  border-bottom: 0 !important;
}

.companies ul li a:hover {
  background-color: none !important;
  text-decoration: none !important;
}

.section-aboutUs {
  padding: 50px 0;
}

.section-aboutUs__img img {
  width: 100%;
}

.section-aboutUs__info h2 {
  text-align: center;
  text-transform: uppercase;
}

.section-aboutUs__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.reply {
  display: block;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 30;
}

.reply__body {
  position: relative;
  margin: 70px auto 0;
  width: 575px;
  height: 480px;
  overflow: auto;
  padding: 20px 40px;
  background: #fff;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.reply__title {
  font-weight: 500;
  line-height: 18px;
  font-size: 18px;
  text-align: center;
}

.reply form {
  margin-top: 20px;
}

.reply__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reply label {
  display: block;
  font-weight: 500;
  line-height: 18px;
  font-size: 16px;
  margin-top: 10px;
}

.reply label span {
  color: red;
}

.reply input {
  margin-top: 10px;
  border: 1px solid #1a76dc;
  border-radius: 4px;
  width: 228px;
  height: 35px;
  outline: 0;
  padding: 0 10px;
}

.reply textarea {
  margin-top: 10px;
  width: 100%;
  height: 140px;
  resize: none;
  border: 1px solid #1a76dc;
  border-radius: 4px;
  outline: 0;
  padding: 10px;
}

.reply.minibutton {
  margin-top: 20px;
}

.reply__close {
  position: absolute;
  top: 0;
  right: 7px;
  font-size: 25px;
  cursor: pointer;
}

.table-price {
  margin-top: 50px;
}

.table-price__title h2 {
  text-align: center;
  margin-bottom: 30px;
}

.table-price__btn {
  text-align: center;
}

.table-price__table {
  margin-top: 30px;
}

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after, .twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  content: " ";
  display: block;
  background: white;
  position: absolute;
  z-index: 30;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after {
  width: 3px;
  height: 9999px;
  left: 50%;
  margin-left: -1.5px;
}

.twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  width: 9999px;
  height: 3px;
  top: 50%;
  margin-top: -1.5px;
}

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.twentytwenty-before-label, .twentytwenty-after-label {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  color: white;
  font-size: 13px;
  letter-spacing: 0.1em;
}

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  line-height: 38px;
  padding: 0 20px;
  border-radius: 2px;
}

.twentytwenty-horizontal .twentytwenty-before-label:before, .twentytwenty-horizontal .twentytwenty-after-label:before {
  top: 50%;
  margin-top: -19px;
}

.twentytwenty-vertical .twentytwenty-before-label:before, .twentytwenty-vertical .twentytwenty-after-label:before {
  left: 50%;
  margin-left: -45px;
  text-align: center;
  width: 90px;
}

.twentytwenty-left-arrow, .twentytwenty-right-arrow, .twentytwenty-up-arrow, .twentytwenty-down-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
}

.twentytwenty-left-arrow, .twentytwenty-right-arrow {
  top: 50%;
  margin-top: -6px;
}

.twentytwenty-up-arrow, .twentytwenty-down-arrow {
  left: 50%;
  margin-left: -6px;
}

.twentytwenty-container {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.twentytwenty-container img {
  max-width: 100%;
  position: absolute;
  top: 0;
  display: block;
}

.twentytwenty-container.active .twentytwenty-overlay, .twentytwenty-container.active :hover.twentytwenty-overlay {
  background: rgba(0, 0, 0, 0);
}

.twentytwenty-container.active .twentytwenty-overlay .twentytwenty-before-label,
.twentytwenty-container.active .twentytwenty-overlay .twentytwenty-after-label, .twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-before-label,
.twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-after-label {
  opacity: 0;
}

.twentytwenty-container * {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.twentytwenty-before-label {
  opacity: 0;
}

.twentytwenty-before-label:before {
  content: attr(data-content);
}

.twentytwenty-after-label {
  opacity: 0;
}

.twentytwenty-after-label:before {
  content: attr(data-content);
}

.twentytwenty-horizontal .twentytwenty-before-label:before {
  left: 10px;
}

.twentytwenty-horizontal .twentytwenty-after-label:before {
  right: 10px;
}

.twentytwenty-vertical .twentytwenty-before-label:before {
  top: 10px;
}

.twentytwenty-vertical .twentytwenty-after-label:before {
  bottom: 10px;
}

.twentytwenty-overlay {
  -webkit-transition-property: background;
  transition-property: background;
  background: rgba(0, 0, 0, 0);
  z-index: 25;
}

.twentytwenty-overlay:hover {
  background: rgba(0, 0, 0, 0.5);
}

.twentytwenty-overlay:hover .twentytwenty-after-label {
  opacity: 1;
}

.twentytwenty-overlay:hover .twentytwenty-before-label {
  opacity: 1;
}

.twentytwenty-before {
  z-index: 20;
}

.twentytwenty-after {
  z-index: 10;
}

.twentytwenty-handle {
  height: 38px;
  width: 38px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border: 3px solid white;
  border-radius: 1000px;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  z-index: 40;
  cursor: pointer;
}

.twentytwenty-horizontal .twentytwenty-handle:before {
  bottom: 50%;
  margin-bottom: 22px;
  -webkit-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty-horizontal .twentytwenty-handle:after {
  top: 50%;
  margin-top: 22px;
  -webkit-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty-vertical .twentytwenty-handle:before {
  left: 50%;
  margin-left: 22px;
  -webkit-box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty-vertical .twentytwenty-handle:after {
  right: 50%;
  margin-right: 22px;
  -webkit-box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty-left-arrow {
  border-right: 6px solid white;
  left: 50%;
  margin-left: -17px;
}

.twentytwenty-right-arrow {
  border-left: 6px solid white;
  right: 50%;
  margin-right: -17px;
}

.twentytwenty-up-arrow {
  border-bottom: 6px solid white;
  top: 50%;
  margin-top: -17px;
}

.twentytwenty-down-arrow {
  border-top: 6px solid white;
  bottom: 50%;
  margin-bottom: -17px;
}

.work-photos {
  margin-top: 50px;
}

.work-photos__title {
  text-align: center;
  margin-bottom: 30px;
}

.work-photos .single-item__slide img {
  width: 100%;
}

.work-photos .twentytwenty-before-label::before {
  content: "После" !important;
}

.work-photos .twentytwenty-after-label::before {
  content: "До" !important;
}

.workers-section {
  margin-top: 50px;
}

.workers-section__title {
  text-align: center;
  margin: 20px 0;
}

.workers-section__slider .autoplay__slide-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.workers-section__slider .autoplay__slide-wrapper img {
  width: 100%;
  border-radius: 50%;
}

.workers-section__slider .autoplay__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0;
}

.faq-section {
  margin: 50px 0;
}

.faq-section__title {
  text-align: center;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border: 1px solid #e3e3e3;
  font-family: "Nunito";
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active-faq-btn, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.faq-btn:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active-faq-btn:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

.calculate-section__offer {
  margin-top: 50px;
}

.calculate-section .calc {
  margin-top: 50px;
  border: 7px solid #aeaeae;
  padding: 20px 40px;
}

.calculate-section #final_price {
  font-size: 40px;
  font-weight: 900;
}

.calculate-section .card-images {
  padding-top: 50px;
}

.calculate-section .card-images img {
  display: none;
}

.calculate-section #card_1_0 {
  display: inline-block;
}

.express-clean-section {
  margin: 50px 0;
}

.calculate-section__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  margin: 0;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

h1, h2, h3, h4, h5, p, a, label, button, th, td {
  font-family: "Nunito";
}

p {
  font-size: 18px;
}

.sl-diplomas {
  width: 100%;
  height: 100% !important;
}

.wrapper {
  background-color: #fcfcfc;
}

.slick-prev::before {
  color: #000 !important;
}

.slick-next::before {
  color: #000 !important;
}

.wrap-btn button {
  margin-bottom: 5px !important;
  text-transform: unset;
}

.modal-footer__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-slider__size-btn button {
  margin-bottom: 5px;
}
/*# sourceMappingURL=style.css.map */